/* ::::: [internal] ::::: */

/* ::::: https://www.nashville.gov/DependencyHandler.axd/0619ec604acec1b260235debbb0698ca.209.css ::::: */

body { background-color: white; margin: 0px; font-family: Helvetica,Arial,sans-serif; font-size: 12px; }
.Normal, .NormalDisabled, .NormalDeleted { font-size: 11px; font-weight: normal; }
h1, h2 { font-size: 20px; font-weight: normal; }
h3, h4 { font-size: 12px; font-weight: normal; }
tfoot, thead { font-size: 12px; color: rgb(0, 51, 102); }
th { vertical-align: baseline; font-size: 12px; font-weight: bold; }
img { border: medium none; }
a:link, a:visited, a:active { text-decoration: none; color: rgb(0, 51, 102); }
a:hover { text-decoration: underline; color: rgb(255, 0, 0); }
ul li { list-style-type: square; }
ul li li { list-style-type: disc; }
ol li { list-style-type: decimal; }
hr { color: rgb(105, 105, 105); height: 1px; text-align: left; }
.DNNEmptyPane { width: 0px; }
.DnnModule { z-index: 902; position: relative; }
/* ::::: https://www.nashville.gov/Portals/0/Skins/nashville/css/styles.min.css?mod=092617 (@media screen) ::::: */

@media screen {
html { font-size: 100%; }
html, button, input, select, textarea { font-family: sans-serif; }
body { margin: 0px; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
h2 { font-size: 1.5em; margin: 0.83em 0px; }
h3 { font-size: 1.17em; margin: 1em 0px; }
h4 { font-size: 1em; margin: 1.33em 0px; }
b, strong { font-weight: 700; }
p, pre { margin: 1em 0px; }
dl, menu, ol, ul { margin: 1em 0px; }
menu, ol, ul { padding: 0px 0px 0px 40px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
form { margin: 0px; }
button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: baseline; }
button, input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0px; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
.container { padding-left: 20px; padding-right: 20px; }
.row { width: 100%; max-width: 1140px; margin: 0px auto; }
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol { margin-right: 1.9%; margin-top: 20px; float: left; min-height: 1px; }
.row .fourcol { width: 32.0167%; }
.row .eightcol { width: 65.9333%; }
.row .twelvecol { width: 100%; margin-top: 20px; }
.last { margin-right: 0px; }
img, object, embed { max-width: 100%; }
img { height: auto; }
@media only screen and (max-width: 1023px) {
  body { font-size: 0.8em; line-height: 1.5em; }
}
@media handheld, only screen and (max-width: 767px) {
  body { font-size: 16px; }
  .row, body, .container { width: 100%; min-width: 0px; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; }
  .row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol { width: auto; float: none; margin-left: 0px; margin-right: 0px; padding-left: 20px; padding-right: 20px; }
}
html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font-style: inherit; font-weight: inherit; font-size: inherit; line-height: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-synthesis: inherit; font-variant: inherit; vertical-align: baseline; font-family: clean,sans-serif; }
b, strong { font-weight: 700; }
body * { font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif; }
body, td, th { color: rgb(33, 38, 54); margin: 0px; }
body { font-size: 14px; }
.text-resize-wrap { font-size: 100%; }
.container .Normal, .container .NormalDisabled, .container .NormalDeleted { color: rgb(33, 38, 54); font-size: 100%; }
a, a:link { color: rgb(28, 109, 195); }
a:visited { color: rgb(28, 109, 195); }
a:hover, a:active { color: rgb(33, 38, 54); }
.modulewrap { padding: 0px; border: 1px solid rgb(225, 225, 225); background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin: 0px; }
.innerwrap { padding: 24px 24px 0px; }
.container p { color: rgb(33, 38, 54); }
.offscreen { position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; }
.cf::before, .cf::after { content: ""; display: table; }
.cf::after { clear: both; }
.cf {  }
.rightdata { text-align: right; width: 1%; white-space: nowrap; }
.textleft { text-align: left; }
.textright { text-align: right; }
.gray { color: rgb(204, 204, 204); }
h1, h2, h3, h4, h5, h6 { color: rgb(33, 38, 54); font-weight: 700; }
h1, h2 { font-weight: 400; }
h1 { margin-top: 0px; }
ul li { list-style-type: disc; }
.alert .alert-inner { padding-top: 10px; padding-bottom: 10px; }
.alert .row { padding-top: 10px; padding-bottom: 10px; }
.alert .alert-inner p { margin: 0px; line-height: 16px; }
.alert .alert-inner p:last-of-type { margin-bottom: 0px; }
.alert { background: rgb(255, 255, 102) none repeat scroll 0% 0%; color: rgb(0, 0, 0); border-width: 1px medium; border-style: solid none; border-color: rgb(255, 255, 102) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; position: relative; display: none; text-align: center; }
.alert .alert-inner { margin: 1px 0px; background: rgb(255, 255, 102) none repeat scroll 0% 0%; border-width: 0px medium; border-style: solid none; border-color: rgb(33, 38, 54) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 0px; font-size: 16px; font-weight: 700; }
.alert p, .alert h1, .alert h2, .alert h3, .alert h4 { margin: 0px; font-size: 16px; font-weight: 700; }
.seal { background: transparent url("nv-inner-hdr-seal.png") no-repeat scroll left top; }
.bgimage { max-width: 1600px; margin: 0px auto; background: rgb(255, 255, 255) url("depthdr-default.jpg") no-repeat scroll 50% 0px; }
.header { min-height: 248px; position: relative; margin-top: 0px ! important; }
.logohome { margin-bottom: 26px; }
.print { display: none; }
.utilitynav { margin: 0px 0px 40px; opacity: 0.9; background-image: url("bg-utilnav-navy-2016v2.png"); background-position: left top; background-repeat: no-repeat; }
.utilitynav ul { list-style: outside none none; margin: 0px; padding: 0px; float: right; height: 40px; overflow: hidden; }
.utilitynav ul li { list-style: outside none none; float: left; text-align: center; padding: 0px; margin: 0px; position: relative; }
.utilitynav ul li a { display: block; padding: 10px 15px; color: rgb(255, 255, 255); text-transform: uppercase; text-decoration: none; font-size: 9px; }
.utilitynav ul li a:hover { background: transparent url("bg-utilnav-navy-2016v2.png") no-repeat scroll right bottom; color: rgb(74, 190, 255); }
.utilitynav ul li a.util-mobileapps { border-left: 1px solid rgb(116, 176, 228); font-size: 9px; padding: 10px 13px; text-align: left; }
.utilitynav ul li a.util-mobileapps span { background-image: url("bg-utilnav-mobileapps2.png"); background-position: left top; background-repeat: no-repeat; display: inline-block; float: left; margin-right: 6px; width: 13px; height: 23px; }
.utilitynav ul li a.util-mobileapps:hover span { background-position: left bottom; }
.utilitynav ul li.resize { width: 78px; height: 40px; padding: 0px; border-left: 1px solid rgb(116, 176, 228); }
.utilitynav ul li a.fontresize:first-child { margin-left: 11px; }
.utilitynav ul li a.fontresize { display: block; float: left; padding: 15px 2px 0px 1px; background: transparent none repeat scroll 0% 0%; color: rgb(255, 255, 255); line-height: 0; font-family: "Times New Roman",serif; }
.utilitynav ul li a.decreaseFont { font-size: 12px; line-height: 6px; color: rgb(255, 255, 255); }
.utilitynav ul li a.normalizeFont { font-size: 18px; line-height: 4px; color: rgb(255, 255, 255); }
.utilitynav ul li a.increaseFont { font-size: 22px; color: rgb(255, 255, 255); }
.utilitynav ul li a span { font-size: 14px; font-weight: 700; }
.utilitynav ul li a.increaseFont span { font-size: 12px; }
.utilitynav ul li.resize p { font-size: 8px; color: rgb(255, 255, 255); margin: 6px 0px 0px; padding: 0px; }
.utilitynav ul li a, .utilitynav ul li a:active { outline: 0px none; }
.utilitynav ul li { position: relative; }
.goog-te-gadget-simple { background: transparent url("bg-utilnav-translate2.png") no-repeat scroll 0% 0% ! important; border: medium none ! important; width: 52px ! important; height: 40px ! important; padding-top: 0px ! important; padding-bottom: 0px ! important; }
.goog-te-gadget-simple:hover { background-position: right bottom ! important; }
img.goog-te-gadget-icon { display: none; }
div#google_translate_element { width: 52px ! important; height: 40px ! important; overflow: hidden ! important; }
a.goog-te-menu-value { height: 40px ! important; width: 52px ! important; padding: 0px ! important; }
.goog-te-menu-value span, .goog-te-menu-value img { display: none; }
li.li-google-translate { border-left: 1px solid rgb(116, 176, 228); }
li.li-google-translate:hover { background: transparent url("bg-utilnav-navy-2016v2.png") no-repeat scroll right bottom; color: rgb(28, 109, 195); }
.utilitynav ul li.li-google-translate:hover a:hover { background: transparent none repeat scroll 0% 0%; }
.google-search-txt-input.defaultText.defaultText { color: rgb(33, 38, 54); }
.google-search-txt-input.defaultText.defaultTextActive { color: rgb(139, 146, 159); }
.search { float: right; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 478px; }
.google-search-txt-input { padding: 11px 14px; width: 300px; background: rgb(231, 241, 250) none repeat scroll 0% 0%; border: 0px none; margin: 0px; float: left; }
.search-type { width: 104px; margin-top: 8px; display: inline-block; }
.search-type label { font-size: 10px; margin-top: 0px; margin-right: 6px; }
.search-type input { font-size: 10px; margin-top: 5px; }
.google-search-button { margin: 0px; padding: 0px; float: right; border-left: 1px solid rgb(204, 204, 204); }
hr { border: medium none; height: 2px; background: transparent url("bg-hr.gif") repeat-x scroll 0% 0%; }
.footer { padding-top: 60px; margin: 0px 0px 20px; background: rgb(255, 255, 255) url("bg-footer-shadow.jpg") no-repeat scroll center -50px; }
.footer h2 { font-size: 1em; }
.footercol ul { list-style: outside none none; margin: 0px 0px 24px; padding: 0px; }
.footercol ul li { list-style: outside none none; margin: 0px 0px auto; padding: 0px; line-height: 24px; }
.copyright { font-size: 0.7em; color: rgb(65, 80, 116); }
.footer .footercol > :first-child { text-decoration: none; color: rgb(33, 38, 54); }
.footer .footercol h2 { font-weight: 700; color: rgb(33, 38, 54); }
.footercol { width: 22.5%; margin: 0px 1.25%; float: left; }
ul.socialicons { padding: 0px; margin: 0px; max-width: 225px; }
ul.socialicons li { float: left; list-style: outside none none; display: block; height: 25px; margin: 0px 11px 10px 0px; }
ul.socialicons li a { display: block; width: 24px; height: 24px; }
ul.socialicons li a:hover img, .tbl-social-media-center a:hover img { opacity: 0.5; }
a.external { background: transparent url("filetype-icons.png") no-repeat scroll right -483px; padding-right: 16px; }
.DnnModule::before, .DnnModule::after { content: ""; display: table; }
.DnnModule::after { clear: both; }
.DnnModule {  }
@media screen and (max-width: 479px) {
}
.datepickerwrap { float: left; width: 48.5%; border: 1px solid rgb(221, 221, 221); }
.cal-event-listing { width: 50%; float: left; border-right: 1px solid rgb(221, 221, 221); }
.cal-event-listing table { width: 100%; border-collapse: collapse; }
.cal-event-listing table td { border-top: 1px solid rgb(221, 221, 221); border-bottom: 1px solid rgb(221, 221, 221); border-collapse: collapse; padding: 9px 1%; }
.cal-event-listing table td.caltitlebar { padding: 0px; font-size: 12px; }
.cal-event-listing table td.cal-listing-date { padding-left: 3%; color: rgb(65, 79, 116); font-size: 12px; }
.cal-event-listing table td.cal-listing-item { padding-left: 4%; }
.cal-event-listing h3 { background: rgb(236, 236, 236) none repeat scroll 0% 0%; margin: 0px; padding: 8px 4%; font-weight: 400; color: rgb(65, 79, 116); }
.cal-event-listing .viewallevents { background: rgb(236, 236, 236) none repeat scroll 0% 0%; margin: 0px; padding: 8px 4%; font-weight: 400; color: rgb(65, 79, 116); }
.cal-event-listing table tr:hover td, .cal-event-listing table tr:hover td a { transition: all 0.25s linear 0s; }
.cal-event-listing table tr:hover td { background: rgb(209, 232, 255) none repeat scroll 0% 0%; }
.cal-event-listing table td:hover { cursor: pointer; }
.cal-event-listing table td:hover a { color: rgb(65, 80, 116); }
.cal-listing-date { width: 75px; max-width: 75px; }
.DnnModule-NV-EventsEvents-WidgetDualPane { margin-bottom: 20px; }
@media screen and (max-width: 934px) {
}
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus { outline: medium none; }
.slides, .flex-control-nav, .flex-direction-nav { margin: 0px; padding: 0px; list-style: outside none none; }
.feature-slider li { list-style: outside none none; }
.flexslider { margin: 0px; padding: 0px; }
.flexslider .slides > li { display: none; }
.flexslider .slides img { width: 100%; display: block; }
.slides::after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.flexslider { position: relative; }
.flex-viewport { max-height: 2000px; transition: all 1s ease 0s; }
.flexslider .slides {  }
.flex-control-nav { width: 100%; position: relative; bottom: 0px; text-align: center; margin-top: 10px; }
.flex-control-nav li { margin: 0px 6px; display: inline-block; }
.flex-control-paging li a { width: 10px; height: 10px; display: block; background: rgb(255, 255, 255) none repeat scroll 0% 0%; cursor: pointer; text-indent: -9999px; border-radius: 50%; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2) inset; border: 1px solid rgb(204, 204, 204); }
.flex-control-paging li a:hover { background: rgb(28, 109, 195) none repeat scroll 0% 0%; border-color: rgb(28, 109, 195); }
.flex-control-paging li a.flex-active { background: rgb(51, 51, 51) none repeat scroll 0% 0%; cursor: default; border-color: rgb(51, 51, 51); }
.feature-slider { position: relative; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.feature-slider-left { float: left; width: 49%; }
.feature-slider-right { float: right; width: 51%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: relative; }
.feature-slider h3 { background: rgb(236, 236, 236) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(194, 194, 194); margin: 0px; padding: 20px 4%; font-weight: 400; color: rgb(65, 79, 116); }
.feature-slider-right p, .feature-slider-right h4, .feature-slider-right ul, .feature-slider-right div { padding-left: 4%; padding-right: 8%; }
#slidercontent, .slides { padding-left: 0px ! important; padding-right: 0px ! important; }
.feature-slider-left { background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; top: 0px; left: 0px; height: 100%; }
.feature-slider-right { background: transparent none repeat scroll 0% 0%; }
.feature-slider { overflow: hidden; border: 1px solid rgb(225, 225, 225); margin-bottom: 20px; }
.feature-slider, .welcomepane { min-height: 365px; }
#slidercontent .slides { min-height: 272px; }
img.hassubnav, span.hassubnav { margin-left: 10px; display: inline; }
.menu-button, .submenu { display: none; }
#menu { position: relative; list-style-type: none; margin: 0px; padding: 0px; text-align: left; }
#menu li.top-level { margin: 0px 1px 0px 0px; padding: 0px; display: block; color: rgb(131, 131, 131); font-weight: 400; float: left; width: 14.12%; text-align: left; z-index: 9999; list-style: outside none none; }
#menu li.top-level > a { display: block; font-size: 13px; text-transform: uppercase; color: rgb(66, 80, 116); padding: 17px 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; opacity: 0.9; font-weight: 700; text-decoration: none; text-align: center; clear: both; }
.submenu { margin: 0px; position: absolute; left: 0px; text-align: left; padding: 1px 0px 0px; border-top: medium none; background: transparent none repeat scroll 0% 0%; overflow: hidden; top: 49px; clear: both; }
.col_1 { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-right: 1px solid rgb(218, 221, 221); }
.col_2 { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-right: 1px solid rgb(218, 221, 221); }
.col_1, .col_2 { display: inline; float: left; position: relative; margin-left: 0px; margin-right: 0px; z-index: 9999; }
.col_2 { width: 250px; margin: 0px; padding: 0px 15px; }
#menu li.top-level div.submenu .col_1 ul { list-style: outside none none; padding: 0px; margin: 0px; }
#menu li.top-level div.submenu .col_1 ul li { font-size: 14px; position: relative; padding: 0px; margin: 0px; float: none; text-align: left; list-style: outside none none; }
#menu li.top-level div.submenu .col_1 ul li a { text-decoration: none; text-transform: none; font-weight: 400; color: rgb(60, 141, 227); display: block; padding: 13px 0px 13px 13px; background: transparent none repeat scroll 0% 0%; }
#menu li.top-level div.submenu .col_1 ul li:hover a { background-color: rgb(227, 241, 247); }
.submenu { z-index: 9999; clear: both; }
#menu li .sm2colimgdiv { width: 502px; }
#menu li .sm2colimgdiv .col_1, #menu li .sm2colimgdiv .col_1 ul li { width: 200px; }
#menu li .sm2colimgdiv .col_1 ul li a { width: 170px; }
#menu li .sm3colimgdiv { width: 659px; }
#menu li .sm3colimgdiv .col_1, #menu li .sm3colimgdiv .col_1 ul li { width: 187px; }
#menu li .sm3colimgdiv .col_1 ul li a { width: 157px; }
#menu li .submenu .col_2 { text-align: left; text-transform: none; }
.col_1, .col_2 { margin-bottom: -2000px; padding-bottom: 2000px; position: relative; }
.menu-button { background-color: rgb(70, 88, 127); border: 1px solid rgb(85, 85, 85); cursor: pointer; display: none; font-weight: 700; font-size: 14px; padding: 1em; width: auto; z-index: 10; position: relative; color: rgb(221, 221, 221); }
#menu li.top-level div.submenu .col_1 ul li a { padding: 8px 15px; background: transparent none repeat scroll 0% 0%; }
#main6 .sm2col, #main6 .sm2colimgdiv, #main6 .sm3col, #main6 .sm3colimgdiv, #main6 .sm4colimgdiv, #main6 .sm4col { right: 5px; left: auto; }
#main3 .sm2colimgdiv, #main3 .sm3colimgdiv, #main3 .sm4colimgdiv, #main3 .sm4col { left: 0px; right: auto; }
#main5 .sm2col, #main5 .sm2colimgdiv, #main5 .sm3colimgdiv, #main5 .sm4colimgdiv, #main5 .sm4col { right: 5px; left: auto; }
#main6 .sm2col, #main6 .sm2colimgdiv, #main6 .sm3col, #main6 .sm3colimgdiv, #main6 .sm4colimgdiv, #main6 .sm4col { right: 5px; left: auto; }
#main7 .submenu { right: 5px; left: auto; }
#main3 .sm2col, .sm1col, #main4 .sm2col, #main4 .sm3col, #main4 .sm2colimgdiv, #main4 .sm3colimgdiv, #main4 .sm4colimgdiv, #main4 .sm4col { right: auto; left: auto; }
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 767px) {
  .bgimage { background-size: 100% auto ! important; }
}
@media screen and (max-width: 675px) {
  .bgimage { background-size: auto 100% ! important; }
}
.govDeliveryWidgetTitle { float: right; }
.govDeliveryWidgetTitle img { width: 18px; height: 18px; }
@media screen and (max-width: 768px) {
}
@media screen and (min-width: 769px) {
}
@media screen and (max-width: 920px) {
}
@media screen and (max-width: 850px) {
  .utilitynav { background-image: url("bg-utilnav-navy-2016v2.png"); background-position: right top; background-repeat: no-repeat; }
}
@media screen and (max-width: 767px) {
  .threecol .modulewrap, .sixcol .modulewrap, .eightcol .modulewrap, .ninecol .modulewrap { border: medium none; }
  .utilitynav { background-image: none; }
  .utilitynav ul { background-image: url("bg-utilnav-navy-2016v2.png"); background-position: right top; background-repeat: no-repeat; text-align: center; }
  .datepickerwrap, .cal-event-listing { width: 100% ! important; float: none ! important; margin-left: 0px ! important; margin-right: 0px ! important; padding-left: 0px ! important; padding-right: 0px ! important; }
  .cal-event-listing { border: 1px solid rgb(221, 221, 221); width: 98%; }
  .footercol { width: auto; float: none; margin-left: 0px; margin-right: 0px; padding-left: 20px; padding-right: 20px; }
  .innerwrap ul { padding: 0px; }
  .homequicklinkwrap { display: none; }
  .hassubnav { padding: 0px; margin: 0px; }
}
@media only screen and (max-width: 600px) {
}
@media handheld, only screen and (max-width: 1110px) {
}
@media handheld, only screen and (max-width: 855px) {
}
@media handheld, only screen and (max-width: 799px) {
}
@media handheld, only screen and (max-width: 480px) {
}
@media handheld, only screen and (max-width: 930px) {
  .google-search-txt-input { width: 220px; }
  .search { width: 400px; }
}
@media handheld, only screen and (max-width: 850px) {
  .google-search-txt-input { width: 150px; }
  .search { width: 330px; }
  .utilitynav ul li a { padding: 10px 4px; }
}
@media handheld, only screen and (max-width: 767px) {
  .logohome { margin-bottom: 0px; }
  .utilitynav { margin: 0px 0px 40px; padding: 0px; }
  .utilitynav ul { float: none; width: 100%; display: block; margin: 0px auto; text-align: center; }
  div.search { background: rgb(231, 241, 250) none repeat scroll 0% 0%; }
  span.search-type { display: none; }
  span.search-field { float: left; width: 80%; overflow: hidden; display: table-cell; }
  .utilitynav .resizediv { margin: 0px auto; }
  .search { float: none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; display: table; width: 100%; }
  .google-search-txt-input { width: 90%; }
  .google-search-button { margin: auto; }
}
@media handheld, only screen and (max-width: 1114px) {
  #main4 .sm2col, #main4 .sm3col, #main4 .sm2colimgdiv, #main4 .sm3colimgdiv, #main4 .sm4colimgdiv, #main4 .sm4col { right: 5px; left: auto; }
}
@media handheld, only screen and (max-width: 860px) {
  img.hassubnav { margin-left: 0px; }
}
@media handheld, only screen and (max-width: 800px) {
  #menu li.top-level > a { font-size: 12px; }
}
@media handheld, only screen and (max-width: 767px) {
  #menu { display: none; }
  #menu::after { visibility: hidden; display: block; font-size: 0px; content: " "; clear: both; height: 0px; }
  img.hassubnav { display: none; }
  .menu-button { display: block; }
  #menu { position: relative; list-style-type: none; margin: 0px; padding: 0px; text-align: left; }
  #menu li.top-level { margin: 2px 0px; padding: 0px; display: block; color: rgb(131, 131, 131); font-weight: 400; float: none; position: relative; width: auto; text-align: left; border: 1px solid rgb(194, 211, 223); background-color: rgb(218, 229, 237); }
  #menu li.top-level a { float: none; display: block; font-size: 13px; text-transform: uppercase; color: rgb(66, 80, 116); width: auto; padding: 20px 0px 20px 20px; background: rgb(239, 243, 245) none repeat scroll 0% 0%; font-weight: 700; text-decoration: none; opacity: 1; }
  #menu li.item-with-ul { width: auto; background: rgb(218, 229, 237) url("icon-megamenu-arrow-down.gif") no-repeat scroll 89% 25px; }
  #menu li.item-with-ul a { width: 70%; border-right: 1px solid rgb(194, 211, 223); }
  #menu li.item-with-ul .submenu { display: none; position: relative; width: auto; border: medium none; background: transparent none repeat scroll 0% 0%; }
  #menu li.item-with-ul .submenu, #menu li.item-with-ul:hover .submenurightedge { top: 0px; left: 0px; }
  .col_1, .col_2 { top: 0px; left: 0px; margin: 0px; padding: 0px; border: medium none; }
  #menu li.item-with-ul .submenu .col_1 { display: block; float: none; border: medium none; }
  #menu li.item-with-ul .submenu .col_2 { display: none; }
  #menu li.item-with-ul .submenu .col_1, #menu li.item-with-ul .submenu .col_1 ul, #menu li.item-with-ul .submenu .col_1 ul li, #menu li.item-with-ul .submenu .col_1 ul li a { width: auto; }
  #menu li.top-level div.submenu div.col_1 ul, #menu li.top-level div.submenu div.col_1 ul { list-style: outside none none; padding: 0px; margin: 0px; }
  #menu li.top-level div.submenu div.col_1 ul li { font-size: 12px; position: relative; padding: 0px; margin: 0px; float: none; text-align: left; border: medium none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
  #menu li.top-level div.submenu div.col_1 ul li a { padding: 15px; border: medium none; background: transparent none repeat scroll 0% 0%; }
  #menu li.top-level a { font-size: 13px; }
  #menu li.top-level:hover .submenu { top: 0px; border: medium none; }
}
@media handheld, only screen and (max-width: 780px) {
}
@media handheld, only screen and (max-width: 1024px) {
}
@media screen and (max-width: 860px) {
  .flex-control-nav { margin: 10px 0px 5px; }
}
@media screen and (max-width: 1139px) {
  .slides li { height: auto ! important; }
  #slidercontent .slides, #slidercontent .slides li { min-height: 271px; }
  .alert .row { width: 96%; margin: 0px auto; }
}
@media screen and (max-width: 767px) {
  #slidercontent .slides, #slidercontent .slides li { min-height: 200px; }
  .feature-slider-left, .feature-slider-right { position: relative; padding-top: 20px; float: none; width: auto; }
  .feature-slider-right { padding: 0px; }
  .feature-slider-right p, .feature-slider-right h4, .feature-slider-right ul, .feature-slider-right h3 { padding-left: 10px; padding-right: 40px; }
  .fourcol #slidercontent .slides, #slidercontent .slides li { min-height: 240px; }
}
@media screen and (max-width: 480px) {
  .slides { min-height: 0px ! important; }
  .slides li p, .feature-slider-right h3 { font-size: 0px; margin: 0px; padding: 0px; }
  #slidercontent .slides, #slidercontent .slides li { min-height: 70px; }
  .feature-slider-left { padding: 0px; }
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 1030px) {
}
@media handheld, only screen and (max-width: 550px) {
}
.ui-helper-clearfix::before, .ui-helper-clearfix::after { content: ""; display: table; }
.ui-helper-clearfix::after { clear: both; }
.ui-helper-clearfix {  }
.ui-state-disabled { cursor: default ! important; }
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; width: 16px; height: 16px; background-image: url("ui-icons_ff0084_256x240.png"); }
.ui-widget { font-family: verdana,Helvetica,Arial,sans-serif; font-size: 12px; }
.ui-widget-content { color: rgb(68, 68, 68); }
.ui-widget-content a { color: rgb(68, 68, 68); }
.ui-widget-header { border: 1px solid rgb(65, 80, 116); background: rgb(65, 80, 116) url("ui-bg_flat_0_415074_40x100.png") repeat-x scroll 50% 50%; color: rgb(255, 255, 255); font-weight: 700; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background: rgb(255, 255, 255) url("ui-bg_flat_0_ffffff_40x100.png") repeat-x scroll 50% 50%; font-weight: 700; color: rgb(65, 80, 116); }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid rgb(123, 143, 191); background: rgb(123, 143, 191) url("ui-bg_flat_0_7b8fbf_40x100.png") repeat-x scroll 50% 50%; font-weight: 700; color: rgb(255, 255, 255); }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid rgb(60, 142, 227); background: rgb(255, 255, 255) url("ui-bg_flat_0_ffffff_40x100.png") repeat-x scroll 50% 50%; font-weight: 700; color: rgb(60, 142, 227); }
.ui-widget :active { outline: medium none; }
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { border: 1px solid rgb(204, 204, 204); background: rgb(65, 80, 116) url("ui-bg_flat_55_415074_40x100.png") repeat-x scroll 50% 50%; color: rgb(255, 255, 255); }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: 0.35; background-image: none; }
.ui-widget-content .ui-icon { background-image: url("ui-icons_ff0084_256x240.png"); }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius: 0px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-top-right-radius: 0px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius: 0px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 0px; }
.ui-datepicker { width: 17em; display: none; padding: 0.2em 0.2em 0px; }
.ui-datepicker .ui-datepicker-header { position: relative; padding: 0.2em 0px; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position: absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev { left: 2px; }
.ui-datepicker .ui-datepicker-next { right: 2px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px; }
.ui-datepicker .ui-datepicker-title { line-height: 1.8em; text-align: center; margin: 0px 2.3em; }
.ui-datepicker table { font-size: 0.9em; border-collapse: collapse; width: 90%; margin: 1em auto; }
.ui-datepicker th { text-align: center; font-weight: 700; border: 0px none; padding: 0.7em 0.3em; }
.ui-datepicker td { border: 0px none; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; text-align: right; text-decoration: none; padding: 0.2em; }
div#datepicker .ui-datepicker { width: 100%; display: none; border: medium none; padding: 0px; }
div#datepicker .ui-datepicker td { position: relative; overflow: hidden; width: 14%; font-size: 12px ! important; padding: 0px; }
div#datepicker .ui-datepicker td span, div#datepicker .ui-datepicker td a { display: block; height: 95%; width: 95%; text-align: center; vertical-align: middle; text-decoration: none; padding: 1em 0px; }
a.ui-state-active { border: 1px solid rgb(60, 142, 227); }
div#datepicker .ui-state-disabled span, div#datepicker .ui-state-disabled span { background: rgb(236, 236, 236) none repeat scroll 0% 0%; border: 1px solid rgb(221, 221, 221); opacity: 1; }
table.ui-datepicker-calendar td { border-collapse: collapse; border: 1px solid rgb(221, 221, 221); }
div#datepicker .ui-widget-content .ui-state-default { border: 1px solid rgb(255, 255, 255); }
div#datepicker .ui-widget-content .ui-state-active { border: 1px solid rgb(60, 142, 227); }
.ui-widget-header a, .ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a { color: rgb(255, 255, 255); }
.ui-widget-header .ui-icon, .ui-state-hover .ui-icon, .ui-state-focus .ui-icon { background-image: url("ui-icons_ffffff_256x240.png"); }
.ui-corner-all { border-radius: 0px ! important; }
@media screen and (max-width: 880px) {
}
@media handheld, only screen and (max-width: 767px) {
}
@media handheld, only screen and (max-width: 480px) {
  .text-resize-wrap { font-size: 18px; }
}
@media screen and (max-width: 479px) {
}
.datepickerwrap { float: left; width: 48.5%; border: 1px solid rgb(221, 221, 221); }
.cal-event-listing { width: 50%; float: left; border-right: 1px solid rgb(221, 221, 221); }
.cal-event-listing table { width: 100%; border-collapse: collapse; }
.cal-event-listing table td { border-top: 1px solid rgb(221, 221, 221); border-bottom: 1px solid rgb(221, 221, 221); border-collapse: collapse; padding: 9px 1%; }
.cal-event-listing table td.caltitlebar { padding: 0px; font-size: 12px; }
.cal-event-listing table td.cal-listing-date { padding-left: 3%; color: rgb(65, 79, 116); font-size: 12px; }
.cal-event-listing table td.cal-listing-item { padding-left: 4%; }
.cal-event-listing h3 { background: rgb(236, 236, 236) none repeat scroll 0% 0%; margin: 0px; padding: 8px 4%; font-weight: 400; color: rgb(65, 79, 116); }
.cal-event-listing .viewallevents { background: rgb(236, 236, 236) none repeat scroll 0% 0%; margin: 0px; padding: 8px 4%; font-weight: 400; color: rgb(65, 79, 116); }
.cal-event-listing table tr:hover td, .cal-event-listing table tr:hover td a { transition: all 0.25s linear 0s; }
.cal-event-listing table tr:hover td { background: rgb(209, 232, 255) none repeat scroll 0% 0%; }
.cal-event-listing table td:hover { cursor: pointer; }
.cal-event-listing table td:hover a { color: rgb(65, 80, 116); }
.cal-listing-date { width: 75px; max-width: 75px; }
.DnnModule-NV-EventsEvents-WidgetDualPane { margin-bottom: 20px; }
@media screen and (max-width: 934px) {
}
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus { outline: medium none; }
.slides, .flex-control-nav, .flex-direction-nav { margin: 0px; padding: 0px; list-style: outside none none; }
.feature-slider li { list-style: outside none none; }
.flexslider { margin: 0px; padding: 0px; }
.flexslider .slides > li { display: none; }
.flexslider .slides img { width: 100%; display: block; }
.slides::after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.flexslider { position: relative; }
.flex-viewport { max-height: 2000px; transition: all 1s ease 0s; }
.flexslider .slides {  }
.flex-control-nav { width: 100%; position: relative; bottom: 0px; text-align: center; margin-top: 10px; }
.flex-control-nav li { margin: 0px 6px; display: inline-block; }
.flex-control-paging li a { width: 10px; height: 10px; display: block; background: rgb(255, 255, 255) none repeat scroll 0% 0%; cursor: pointer; text-indent: -9999px; border-radius: 50%; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2) inset; border: 1px solid rgb(204, 204, 204); }
.flex-control-paging li a:hover { background: rgb(28, 109, 195) none repeat scroll 0% 0%; border-color: rgb(28, 109, 195); }
.flex-control-paging li a.flex-active { background: rgb(51, 51, 51) none repeat scroll 0% 0%; cursor: default; border-color: rgb(51, 51, 51); }
}
/* ::::: https://www.nashville.gov/Portals/0/Skins/nashville/css/nvhome.css?mod=092617 (@media screen) ::::: */

@media screen {
.header { min-height: 500px; position: relative; }
.homequicklinkwrap { position: relative; margin-top: -296px; height: 296px; overflow: hidden; }
.homequicklinks { position: absolute; top: 220px; right: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; opacity: 0.9; padding: 2.8% 5%; width: 90%; height: 250px; }
.homequicklinks h3 { margin: 0px 0px 8px; color: rgb(61, 142, 228); font-size: 16px; font-weight: bold; }
.homequicklinks ul.socialicons { margin: 0px; }
.homequicklinks table { clear: both; width: 100%; margin-top: 9px; }
.homequicklinks table td { padding: 10px 0px; border-top: 1px solid rgb(221, 221, 221); border-bottom: 1px solid rgb(221, 221, 221); vertical-align: middle; }
.homequicklinks .quicklinkinfo a { display: block; float: right; width: 24px; height: 24px; text-indent: 9999px; overflow: hidden; margin: 0px; padding: 0px; background: transparent url("icon-connect.png") no-repeat scroll left top; }
.homequicklinks .quicklinkinfo a:hover { background-position: left bottom; }
.lwp h3, .homerow3featurepane h3, .welcomepane h3, .welcomepane h1 { margin-top: 0px; border-bottom: 1px solid rgb(225, 225, 225); padding: 10px 24px; }
.lwp ul { list-style: outside none none; margin: 0px 0px 24px; padding: 0px; }
.lwp ul li { list-style: outside none none; margin: 0px 0px auto; padding: 0px; line-height: 24px; }
.lwp .innerwrap, .homerow3featurepane .innerwrap, .welcomepane .innerwrap { padding: 0px 24px; }
.lwpwrap .fourcol { overflow: hidden; border-bottom: 1px solid rgb(225, 225, 225); }
.lwp { margin-bottom: -1000px; padding-bottom: 1000px; }
.eightcol .modulewrap { border: medium none; }
.homerow3featurepane { min-height: 395px; }
div#socrata {  }
.socrata-link-p { margin-bottom: 0px; text-align: right; font-size: 12px; }
.feature-sliderwrap .feature-slider { margin-bottom: 0px; }
@media handheld, only screen and (max-width: 767px) {
  .datepickerwrap, .cal-event-listing { width: 100%; float: none; margin-left: 0px; margin-right: 0px; padding-left: 20px; padding-right: 20px; height: auto ! important; }
  .header { min-height: 200px; }
  .eightcol .modulewrap { border: 1px solid rgb(221, 221, 221); }
  .datepickerwrap { border: medium none; }
}
}
/* ::::: https://www.nashville.gov/Portals/0/Skins/nashville/css/print.css?mod=092617 (@media print) ::::: */

@media print {
body * { font: 11px "proxima-nova",Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); }
h1 { font-size: 20px; margin-top: 1em; margin-bottom: 6px; line-height: 1; }
h2 { font-size: 16px; margin-bottom: 6px; }
h1, h2, h3, h4, h5, h6, .feature-slider h3, .cal-event-listing h3 { font-weight: bold; color: rgb(0, 0, 0); }
h3, h4, h5, h6, .feature-slider h3, .cal-event-listing h3 { font-size: 14px; margin-bottom: 12px; }
.alert, .screen, .footer, .utilitynav, .homequicklinks, #menu, .homeconnect, .feature-slider, .btnprint { display: none ! important; }
.offscreen, .breadcrumb, .menu-button { display: none ! important; }
.logohome .print { width: 200px; height: auto; margin-bottom: 0px; }
.row { max-width: 100%; }
.modulewrap { border: medium none; }
.print { display: block; }
.header { min-height: inherit; }
.innerwrap, .container { padding: 0px; }
img { max-width: 500px; border: 0px none; }
a .news-date, a .event-date, a { color: rgb(0, 0, 0) ! important; text-decoration: none ! important; }
.widget-container a::after, p a::after { font-size: 80%; word-wrap: break-word; }
.ui-datepicker-header, .ui-datepicker-title, .ui-datepicker-title span, .ui-datepicker-today a.ui-state-active { color: rgb(255, 255, 255) ! important; background: rgb(0, 0, 0) none repeat scroll 0% 0%; border: medium none ! important; }
.govDeliveryWidgetTitle { display: none; }
.textleft { text-align: left; }
.textright { text-align: right; }
.gray { color: rgb(204, 204, 204); }
}
/* ::::: https://www.nashville.gov/Portals/0/Skins/nashville/css/wt.css (@media screen) ::::: */

@media screen {
}
/* ::::: [internal] ::::: */

.col_2 p.AddBorder { border-bottom: 1px solid rgb(218, 221, 221); }
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

@font-face {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 700;
  src: url("l.dat") format("woff2"), url("d.dat") format("woff"), url("a.dat") format("opentype");
}
@font-face {
  font-family: "proxima-nova";
  font-style: italic;
  font-weight: 700;
  src: url("l_001.dat") format("woff2"), url("d_001.dat") format("woff"), url("a_001.dat") format("opentype");
}
@font-face {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 400;
  src: url("l_002.dat") format("woff2"), url("d_002.dat") format("woff"), url("a_002.dat") format("opentype");
}
@font-face {
  font-family: "proxima-nova";
  font-style: italic;
  font-weight: 400;
  src: url("l_003.dat") format("woff2"), url("d_003.dat") format("woff"), url("a_003.dat") format("opentype");
}
/* ::::: https://translate.googleapis.com/translate_static/css/translateelement.css ::::: */

.goog-te-banner-frame { left: 0px; top: 0px; height: 39px; width: 100%; z-index: 10000001; position: fixed; border-width: medium medium 1px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(107, 144, 218); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin: 0px; box-shadow: 0px 0px 8px 1px rgb(153, 153, 153); }
.goog-te-menu-frame { z-index: 10000002; position: fixed; border: medium none; box-shadow: 0px 3px 8px 2px rgb(153, 153, 153); }
.goog-te-gadget { font-family: arial; font-size: 11px; color: rgb(102, 102, 102); white-space: nowrap; }
.goog-te-gadget img { vertical-align: middle; border: medium none; }
.goog-te-gadget-simple { background-color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(155, 155, 155) rgb(213, 213, 213) rgb(232, 232, 232); font-size: 10pt; display: inline-block; padding-top: 1px; padding-bottom: 2px; cursor: pointer; }
.goog-te-gadget-icon { margin-left: 2px; margin-right: 2px; width: 19px; height: 19px; border: medium none; vertical-align: middle; }
.goog-te-menu-value { text-decoration: none; color: rgb(0, 0, 204); white-space: nowrap; margin-left: 4px; margin-right: 4px; }
.goog-te-menu-value span { text-decoration: underline; }
.goog-te-menu-value img { margin-left: 2px; margin-right: 2px; }
.goog-te-gadget-simple .goog-te-menu-value { color: rgb(0, 0, 0); }
.goog-te-gadget-simple .goog-te-menu-value span { text-decoration: none; }
.goog-te-spinner-pos { z-index: 1000; position: fixed; transition-delay: 0.6s; left: -1000px; top: -1000px; }
.goog-te-spinner-animation { display: flex; align-items: center; justify-content: center; width: 104px; height: 104px; border-radius: 50px; background: rgb(255, 255, 255) url("translate_24dp_001.png") no-repeat scroll 50% 50%; transition: all 0.6s ease-in-out 0s; transform: scale(0.4); opacity: 0; }
.goog-te-spinner { margin: 2px 0px 0px 2px; animation: 1.4s linear 0s normal none infinite running goog-te-spinner-rotator; }
@keyframes goog-te-spinner-rotator {
0% { transform: rotate(0deg); }
100% { transform: rotate(270deg); }
}
.goog-te-spinner-path { stroke-dasharray: 187; stroke-dashoffset: 0; stroke: rgb(66, 133, 244); transform-origin: center center 0px; animation: 1.4s ease-in-out 0s normal none infinite running goog-te-spinner-dash; }
@keyframes goog-te-spinner-dash {
0% { stroke-dashoffset: 187; }
50% { stroke-dashoffset: 46.75; transform: rotate(135deg); }
100% { stroke-dashoffset: 187; transform: rotate(450deg); }
}
#goog-gt-tt html, #goog-gt-tt body, #goog-gt-tt div, #goog-gt-tt span, #goog-gt-tt iframe, #goog-gt-tt h1, #goog-gt-tt h2, #goog-gt-tt h3, #goog-gt-tt h4, #goog-gt-tt h5, #goog-gt-tt h6, #goog-gt-tt p, #goog-gt-tt a, #goog-gt-tt img, #goog-gt-tt ol, #goog-gt-tt ul, #goog-gt-tt li, #goog-gt-tt table, #goog-gt-tt form, #goog-gt-tt tbody, #goog-gt-tt tr, #goog-gt-tt td { margin: 0px; padding: 0px; border: 0px none; font-family: inherit; font-style: inherit; font-weight: inherit; font-size: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-synthesis: inherit; font-variant: inherit; vertical-align: baseline; text-align: left; line-height: normal; }
div#goog-gt-tt { padding: 10px 14px; }
#goog-gt-tt { color: rgb(34, 34, 34); background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2); display: none; font-family: arial; font-size: 10pt; width: 420px; padding: 12px; position: absolute; z-index: 10000; }
#goog-gt-tt .original-text, .gt-hl-layer { clear: both; font-size: 10pt; position: relative; text-align: justify; width: 100%; }
#goog-gt-tt .title { color: rgb(153, 153, 153); font-family: arial,sans-serif; margin: 4px 0px; text-align: left; }
#goog-gt-tt .logo { float: left; margin: 0px; }
#goog-gt-tt .activity-links { display: inline-block; }
#goog-gt-tt .started-activity-container { display: none; width: 100%; }
#goog-gt-tt .activity-root { margin-top: 20px; }
#goog-gt-tt .bottom { min-height: 15px; position: relative; height: 1%; }
#goog-gt-tt .status-message { background: rgb(41, 145, 13) none repeat scroll 0% 0%; border-radius: 4px; box-shadow: 0px 2px 2px rgb(30, 102, 9) inset; color: white; font-size: 9pt; font-weight: bolder; margin-top: 12px; padding: 6px; text-shadow: 1px 1px 1px rgb(30, 102, 9); }
#goog-gt-tt .activity-link { color: rgb(17, 85, 204); cursor: pointer; font-family: arial; font-size: 11px; margin-right: 15px; text-decoration: none; }
#goog-gt-tt .gray { color: rgb(153, 153, 153); font-family: arial,sans-serif; }
#goog-gt-tt span:focus { outline: medium none; }
/* ::::: [internal] ::::: */

.bgimage { background: rgb(255, 255, 255) none no-repeat scroll 50% 0px; }
.seal { background: transparent url("nv-home-hdr-seal.png") no-repeat scroll left center; }
h1.home { position: absolute; top: 0px; right: 10000px; }
/* ::::: [internal] ::::: */

a.util-hub.external { background: transparent none repeat scroll 0% 0%; min-height: 22px; }
span.hub-logo { margin-top: 2px; display: inline-block; text-indent: 19999px; font-size: 10px; width: 108px; height: 22px; background-image: url("topnav-hubnasvhille-white.svg"); background-position: center center; background-repeat: no-repeat; }
a.util-hub:hover span.hub-logo { background-image: url("topnav-hubnasvhille-hover.svg"); }
/* ::::: [internal] ::::: */

.mm-services-icons { width: 248px; }
.mm-services-icons img { float: left; margin-right: 7px; }
.mm-services-icons p { clear: left; }
