/* ::::: file:///home/alameer/workspace/gwaliTestCases/ScrapBook/data/facebookBG/fbstatic-a.akamaihd.net/rsrc.php/v2/yD/r/airAwHl3poX.css ::::: */

#captcha .recaptcha_text { font-size: 11px; line-height: 16px; }
#captcha #recaptcha_image { font-weight: bold; margin: 10px 0px 0px; }
#captcha .captcha_loading { border: 0px none; }
#captcha .captcha_input input { direction: ltr; margin-top: 4px; width: 137px; }
#captcha .captcha_input label { margin-right: 4px; }
.audiocaptcha { overflow: hidden; display: block; margin: 0px; padding: 0px; }
.fbIndex .locales { margin: 10px auto 0px; width: 980px; }
.fbIndex .gradient { background: transparent linear-gradient(white, rgb(211, 216, 232)) repeat scroll 0% 0%; }
.fbIndex .gradient { min-width: 980px; }
.fbIndex .gradient .gradientContent { margin: 0px auto; width: 980px; }
._5iyz { max-width: 400px; }
._5iyx { color: rgb(14, 56, 95); font-size: 20px; font-weight: bold; line-height: 29px; margin-top: 40px; width: 450px; word-spacing: -1px; }
._5iyy { margin-right: 15px; width: 565px; }
.localeSelectorList a.showMore { background-color: rgb(233, 234, 237); padding: 0px 6px 2px; }
.localeSelectorList a.showMore:hover { background-color: rgb(109, 132, 180); color: rgb(255, 255, 255); text-decoration: none; }
.menu_login_container table tr { vertical-align: top; }
.menu_login_container table tr td { padding: 0px 0px 0px 14px; }
.menu_login_container .html7magic { padding-bottom: 4px; }
.menu_login_container .inputtext, .menu_login_container .inputpassword { border-color: rgb(29, 42, 91); margin: 0px; width: 142px; }
.menu_login_container .login_form_label_field label, .menu_login_container .login_form_label_field a { color: rgb(157, 172, 203); font-weight: normal; }
.menu_login_container .login_form_label_field { padding-top: 4px; }
.menu_login_container .html7magic label { color: rgb(255, 255, 255); font-weight: normal; padding-left: 1px; }
.menu_login_container #email { direction: ltr; }
._6j { border: 1px solid; border-radius: 5px; color: rgb(255, 255, 255); cursor: pointer; display: inline-block; letter-spacing: 1px; position: relative; text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); }
._6j:hover { text-decoration: none; }
._6wk { padding: 20px 30px; }
._6wl { background: rgb(105, 167, 78) linear-gradient(rgb(103, 174, 85), rgb(87, 136, 67)) repeat scroll 0% 0%; box-shadow: 0px 1px 1px rgb(164, 227, 136) inset; border-color: rgb(59, 110, 34) rgb(59, 110, 34) rgb(44, 81, 21); }
._6wl:hover { background: transparent linear-gradient(rgb(121, 188, 100), rgb(87, 136, 67)) repeat scroll 0% 0%; }
._6j:active { top: 1px; }
._6o { font-size: 19px; line-height: 126%; }
._6v { font-weight: bold; }
.loggedout_menubar_container { background-color: rgb(58, 87, 149); height: 82px; min-width: 980px; }
.loggedout_menubar { margin: 0px auto; padding-top: 13px; width: 980px; }
.loggedout_menubar .fb_logo { margin-top: 17px; }
._58mq select { font-size: 13px; height: 30px; padding: 5px; }
._58mr { color: rgb(20, 24, 35); font-size: 18px; font-weight: normal; }
._5k_4 { display: inline-block; }
._5k_5 { position: relative; }
._58ms { display: inline-block; max-width: 140px; vertical-align: middle; }
._58ms { font-size: 11px; max-width: 150px; }
._58mq ._5k_5 ._5k_6, ._58mq ._5k_5 ._5k_7 { top: 4px; }
._58mw { line-height: 16px; padding-top: 10px; }
._58mw h2 { padding-bottom: 3px; }
._58mw .captcha_input { margin: 5px 0px; }
._58mx { margin-right: 50px; }
._58my { float: left; font-size: 12px; font-weight: bold; line-height: 14px; margin-top: 6px; }
._58mz { background-image: url("CqMoYkNKHFk.png"); background-repeat: no-repeat; background-size: auto auto; background-position: -337px -494px; float: left; height: 17px; margin-top: 5px; width: 12px; }
#captcha_response { padding: 3px; }
._5dbb { position: relative; }
._5dbb ._5dbc, ._5dbb ._5dbd { display: none; position: absolute; right: 9px; top: 9px; }
._58mf { margin: 0px auto; padding-bottom: 30px; }
._58mi { min-width: 194px; padding: 7px 20px; text-align: center; }
._58mk { border-top: 1px solid rgb(160, 169, 192); color: rgb(102, 102, 102); font-size: 13px; font-weight: bold; margin-top: 10px; padding-top: 15px; }
._58ml { margin-left: 10px; position: relative; top: 3px; }
._58mm { float: left; }
._58mn { background: rgb(255, 235, 232) none repeat scroll 0% 0%; border: 1px solid rgb(221, 60, 16); line-height: 15px; margin: 10px 0px 0px; overflow: hidden; text-align: center; }
._58mo { padding: 7px 3px; }
._5k_2 { border-radius: 4px; border-width: 1px; display: inline-block; padding: 5px 0px 5px 4px; }
._5k_2:first-child { margin-right: 4px; }
._5k_3 { display: inline-block; }
._58mt { color: rgb(20, 24, 35); font-size: 18px; font-weight: normal; line-height: 18px; padding: 0px 10px 0px 3px; }
._58mf ._58mg { border-color: rgb(189, 199, 216); border-radius: 5px; margin: 0px; width: 377px; }
.gecko.mac ._58mf ._58mg, ._58mf ._58mg, ._58mf .uiStickyPlaceholderInput .placeholder { font-size: 18px; padding: 8px 10px; }
._58mh { width: 399px; }
._58mh ._58mg { width: 172px; }
._58mu { width: 399px; }
._58mu ._58mv { color: rgb(119, 119, 119); font-size: 11px; width: 316px; }
._52lp {  }
._52lp ._52lq { color: rgb(20, 24, 35); font-family: "Freight Sans Bold","lucida grande",tahoma,verdana,arial,sans-serif; font-size: 40px; font-weight: normal; white-space: nowrap; }
._52lp._59d- ._52lq { font-size: 36px; }
._52lp ._52lr { color: rgb(78, 86, 101); font-family: "Freight Sans","lucida grande",tahoma,verdana,arial,sans-serif; font-size: 22px; font-weight: normal; line-height: 28px; }
._52lp._59d- ._52lr { color: rgb(20, 24, 35); font-size: 19px; }
.sp_Z_xw_7FDtNv { background-image: url("CqMoYkNKHFk.png"); background-size: auto auto; background-repeat: no-repeat; display: inline-block; height: 22px; width: 11px; }
.sp_Z_xw_7FDtNv.sx_b6c073 { width: 170px; height: 36px; background-position: -98px -481px; }
.sp_Z_xw_7FDtNv.sx_33ab79 { width: 21px; height: 21px; background-position: -293px -494px; }
.sp_Z_xw_7FDtNv.sx_826745 { width: 21px; height: 21px; background-position: -315px -494px; }
/* ::::: file:///home/alameer/workspace/gwaliTestCases/ScrapBook/data/facebookBG/fbstatic-a.akamaihd.net/rsrc.php/v2/yt/r/jVZHbno-6Vb.css ::::: */

@keyframes show {
0% { opacity: 0; }
100% { opacity: 1; }
}
form { margin: 0px; padding: 0px; }
label { cursor: pointer; color: rgb(102, 102, 102); font-weight: bold; vertical-align: middle; }
label input { font-weight: normal; }
textarea, .inputtext, .inputpassword { border: 1px solid rgb(189, 199, 216); margin: 0px; padding: 3px; }
select { border: 1px solid rgb(189, 199, 216); padding: 2px; }
.inputtext, .inputpassword { padding-bottom: 4px; }
.inputtext:invalid, .inputpassword:invalid { box-shadow: none; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(20, 24, 35); line-height: 1.28; margin: 0px; padding: 0px; text-align: left; direction: ltr; unicode-bidi: embed; }
body, button, input, label, select, td, textarea { font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 11px; }
h1, h2, h3, h4, h5, h6 { font-size: 13px; color: rgb(20, 24, 35); margin: 0px; padding: 0px; }
h1 { font-size: 14px; }
p { margin: 1em 0px; }
a { color: rgb(59, 89, 152); cursor: pointer; text-decoration: none; }
button { margin: 0px; }
a:hover { text-decoration: underline; }
img { border: 0px none; }
td, td.label { text-align: left; }
ul { list-style-type: none; margin: 0px; padding: 0px; }
.clearfix::after { clear: both; content: "."; display: block; font-size: 0px; height: 0px; line-height: 0; visibility: hidden; }
.clearfix {  }
#facebook .hidden_elem { display: none ! important; }
*::-moz-placeholder, :-moz-placeholder { color: rgb(145, 151, 163); }
:focus::-moz-placeholder, :focus:-moz-placeholder { color: rgb(189, 193, 201); }
i.img {  }
i.img u { left: -999999px; position: absolute; }
.lfloat { float: left; }
.rfloat { float: right; }
.plm { padding-left: 10px; }
.pvl { padding-top: 20px; padding-bottom: 20px; }
.mtm { margin-top: 10px; }
.mbs { margin-bottom: 5px; }
.mbm { margin-bottom: 10px; }
.mlm { margin-left: 10px; }
.mvm { margin-top: 10px; margin-bottom: 10px; }
.mvl { margin-top: 20px; margin-bottom: 20px; }
.fsm { font-size: 11px; }
.fsl { font-size: 13px; }
.fwn { font-weight: normal; }
.fwb { font-weight: bold; }
.fcb { color: rgb(51, 51, 51); }
.fcg { color: rgb(127, 127, 127); }
._4ki > li { border-width: 0px 0px 0px 1px; display: inline-block; }
._509- > li { vertical-align: top; }
.uiList > li:first-child { border-width: 0px; }
._4ki._6-j > li { padding-left: 10px; padding-right: 10px; }
._4ki._6-i > li { padding-right: 0px; }
._4ki._6-h > li:first-child { padding-left: 0px; }
._4ki._6-h > li:last-child { padding-right: 0px; }
.uiContextualLayerParent { position: relative; }
._51mz { border: 0px none; border-collapse: collapse; border-spacing: 0px; }
.uiGrid .hLeft { text-align: left; }
._51mx:first-child > ._51m- { padding-top: 0px; }
._51mx:last-child > ._51m- { padding-bottom: 0px; }
._51mz ._51mw { padding-right: 0px; }
._51mz ._51m-:first-child { padding-left: 0px; }
._ohe { float: left; }
._ohf { float: right; }
/* ::::: file:///home/alameer/workspace/gwaliTestCases/ScrapBook/data/facebookBG/fbstatic-a.akamaihd.net/rsrc.php/v2/yQ/r/OQVqJB4-vCU.css ::::: */

._41uf, ._41ug { display: inline-block; padding-right: 14px; position: relative; }
._41ug .img { position: absolute; top: 1px; vertical-align: middle; }
body { overflow-y: scroll; }
#content { margin: 0px; outline: medium none; padding: 0px; width: auto; }
.navigationGrid { line-height: 20px; width: 300px; }
.navigationGrid td { padding-right: 10px; }
#pageFooter { color: rgb(115, 115, 115); font-size: 11px; margin: 0px auto; width: 980px; }
#pageFooter a { text-decoration: none; white-space: nowrap; }
#pageFooter a:last-child { margin-right: 0px; }
#pageFooter a:hover { text-decoration: underline; }
#contentCurve { border-bottom: 1px solid rgb(204, 204, 204); font-size: 1px; height: 8px; margin-bottom: 8px; }
#globalContainer { margin: 0px auto; position: relative; }
.fb_content { padding-bottom: 20px; }
._5p3y[dir="ltr"], ._5p3y[dir="ltr"] button, ._5p3y[dir="ltr"] input, ._5p3y[dir="ltr"] label, ._5p3y[dir="ltr"] select, ._5p3y[dir="ltr"] td, ._5p3y[dir="ltr"] textarea, ._5p3y[dir="ltr"] .uiMentionsInput .highlighter, ._5p3y[dir="ltr"] .uiButtonText, ._5p3y[dir="ltr"] .uiButton input, ._5p3y[dir="ltr"] .uiLinkButton input, ._5p3y[dir="ltr"] button.as_link, ._5p3y[dir="ltr"] .fbChatSidebar, ._5p3y[dir="ltr"] .fbDock, ._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory .tickerFeedMessage, ._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5, ._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6, ._5p3y[dir="ltr"] .tickerDialogContent .uiStream .uiStreamMessage, ._5p3y[dir="ltr"] .tickerDialogContent .uiStream .text_exposed_link, ._5p3y[dir="ltr"] .uiTooltipX .tooltipContent, ._5p3y[dir="ltr"] a[role="button"], ._5p3y[dir="rtl"] [dir="ltr"] { font-family: helvetica,arial,"lucida grande",sans-serif; }
._5p3y[dir="ltr"] [dir="rtl"] { font-family: "lucida grande",tahoma,verdana,arial,sans-serif; }
._5p3y, ._5p3y button, ._5p3y input, ._5p3y label, ._5p3y select, ._5p3y td, ._5p3y textarea, ._5p3y .uiMentionsInput .highlighter, ._5p3y .uiButtonText, ._5p3y .uiButton input, ._5p3y .uiLinkButton input, ._5p3y button.as_link { font-size: 12px; }
._5p3y { line-height: 1.34; }
._5p3y .fcg { color: rgb(145, 151, 163); }
._5p3y .fsm, ._5p3y .uiHeader h3, ._5p3y h4, ._5p3y h5, ._5p3y h6, ._5p3y .UFICommentContent ._5v47 { font-size: 12px; }
._5p3y .fsl { font-size: 14px; }
._21mm, ._uaw, ._4f7n { height: 42px; }
._2gsg ._21mm, ._2gsg ._uaw, ._2gsg ._4f7n { height: auto; }
._2gsg #pagelet_bluebar { padding-bottom: 1px; }
._4f7n { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAqCAMAAABFoMFOAAAAWlBMVEVOaaJDYJxCX5xBXptIZJ9MZ6E/XJpFYZ1KZqA9W5lGYp5HY55MaKFJZZ9LZqBEYZ1NaaJNaKJNaKFAXZtAXZpLZ6E+XJo+W5lJZaA9Wpk8Wpk8Wpg8WZg7WZj2xcGWAAAANElEQVR42lWGSQoAIBDDHCjo0f8/UxBxQDQuFwlpqgBZBq6+P+unVY1GnDgwqbD2zGz5e1lBdwvGGPE6OgAAAABJRU5ErkJggg=="); background-repeat: repeat-x; background-size: auto auto; background-position: 0px 0px; background-color: rgb(58, 87, 149); border-width: 0px 0px 1px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(19, 55, 131); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.52); min-width: 981px; position: relative; z-index: 300; }
._4f7n::after { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAFElEQVQIHWOQM8q8zcDKKSzHAAcAHWQB1AViXrsAAAAASUVORK5CYII="); background-repeat: repeat-x; background-size: auto auto; background-position: 0px 0px; bottom: -4px; content: ""; height: 4px; left: 0px; position: absolute; right: 0px; }
._xxp { z-index: 301; }
.uiButton { cursor: pointer; display: inline-block; font-size: 11px; font-weight: bold; line-height: 13px; padding: 2px 6px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; }
.uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, .uiButtonSuppressed:hover { background-image: url("Kvl1gqWFi2Y.png"); background-repeat: no-repeat; background-size: auto auto; background-position: 0px -98px; background-color: rgb(233, 234, 237); border-width: 1px; border-style: solid; border-color: rgb(153, 153, 153) rgb(153, 153, 153) rgb(136, 136, 136); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); }
.uiButton:hover { text-decoration: none; }
.uiButton:active, .uiButtonDepressed { background: rgb(220, 222, 227) none repeat scroll 0% 0%; border-bottom-color: rgb(153, 153, 153); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset; }
.uiButtonText, .uiButton input { background: transparent none repeat scroll 0% 0%; border: 0px none; color: rgb(51, 51, 51); cursor: pointer; display: inline-block; font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 11px; font-weight: bold; line-height: 13px; margin: 0px; padding: 1px 0px 2px; white-space: nowrap; }
.uiButton input::-moz-focus-inner { border: 0px none; padding: 0px; }
.gecko .uiButton input:focus { outline: thin dotted; }
.uiButtonConfirm { background-image: url("Kvl1gqWFi2Y.png"); background-repeat: no-repeat; background-size: auto auto; background-position: 0px -49px; background-color: rgb(91, 116, 168); border-color: rgb(47, 71, 122) rgb(41, 68, 126) rgb(26, 53, 110); }
.uiButtonConfirm:active { background: rgb(78, 105, 162) none repeat scroll 0% 0%; border-bottom-color: rgb(47, 71, 122); }
form.async_saving .uiButton.uiButtonSpecial .uiButtonText, form.async_saving .uiButton.uiButtonSpecial input, form.async_saving .uiButton.uiButtonConfirm .uiButtonText, form.async_saving .uiButton.uiButtonConfirm input, .uiButtonSpecial .uiButtonText, .uiButtonSpecial input, .uiButtonSpecial.uiButtonDisabled .uiButtonText, .uiButtonSpecial.uiButtonDisabled input, .uiButtonConfirm .uiButtonText, .uiButtonConfirm input, .uiButtonConfirm.uiButtonDisabled .uiButtonText, .uiButtonConfirm.uiButtonDisabled input { color: rgb(255, 255, 255); }
.gecko.mac .uiButton, .gecko.mac .uiButtonText, .gecko.mac .uiButton input { line-height: 14px; }
.gecko.mac .uiButtonText, .gecko.mac .uiButton input { margin-bottom: -1px; }
.uiInputLabel { position: relative; }
.uiInputLabelInput { margin: 0px; padding: 0px; position: absolute; }
.uiInputLabelLabel:active { -moz-user-select: none; }
.uiInputLabel .uiInputLabelLabel { display: inline-block; margin-left: 17px; vertical-align: baseline; }
.uiInputLabelLegacy label { color: rgb(51, 51, 51); font-weight: normal; }
@keyframes rotateSpinner {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
._3-90 { margin-right: 8px; }
._2ph- { padding: 8px; }
.sp_ARj_IkdU6mk { background-image: url("s_xQA9txOOz.png"); background-size: auto auto; background-repeat: no-repeat; display: inline-block; height: 14px; width: 16px; }
.sp_ARj_IkdU6mk.sx_15fb05 { height: 16px; background-position: -17px -170px; }
