/* ::::: http://gov.nv.gov/WorkArea/FrameworkUI/css/ektron.stylesheet.ashx?id=-1759591071+646986939 ::::: */

#FloatBubble { display: none; position: absolute; z-index: 3200; }
#EkBubbleTable { width: 400px; border: 0px none; text-align: left; }
#EkBubbleData { width: 360px; overflow: auto; background-color: rgb(255, 255, 255); }
#EkCloseBubbleIcon { text-align: right; background-color: rgb(255, 255, 255); }
#EkClose { height: 11px; width: 11px; }
#EkTop { height: 52px; width: 247px; background-image: url("top.gif"); }
#EkTopR { height: 52px; width: 21px; background-image: url("topr.gif"); }
#EkTopL { height: 52px; width: 21px; background-image: url("topl.gif"); }
#EkBotR { height: 52px; width: 21px; background-image: url("botr.gif"); }
#EkBotL { height: 52px; width: 21px; background-image: url("botl.gif"); }
#EkTopTile { background-image: url("toptile.gif"); }
#EkCenL { background-image: url("cenl.gif"); }
#EkCenR { background-image: url("cenr.gif"); }
#EkBot { background-image: url("bot.gif"); }
#FloatBubbleT { display: none; position: absolute; z-index: 3200; }
#EkBubbleTableT { width: 400px; border: 0px none; text-align: left; }
#EkBubbleDataT { width: 360px; overflow: auto; background-color: rgb(255, 255, 255); }
#EkCloseBubbleIconT { text-align: right; background-color: rgb(255, 255, 255); }
#EkCloseT { height: 11px; width: 11px; }
#EkTopT { background-image: url("topt.gif"); }
#EkTopRT { height: 52px; width: 21px; background-image: url("topr.gif"); }
#EkTopLT { height: 52px; width: 21px; background-image: url("topl.gif"); }
#EkBotRT { height: 52px; width: 21px; background-image: url("botr.gif"); }
#EkBotLT { height: 52px; width: 21px; background-image: url("botl.gif"); }
#EkBotTile { background-image: url("bottile.gif"); }
#EkCenLT { background-image: url("cenl.gif"); }
#EkCenRT { background-image: url("cenr.gif"); }
#EkBotT { height: 52px; width: 247px; background-image: url("bott.gif"); }
/* ::::: http://gov.nv.gov/layouts/master/CSS/style.css ::::: */

/* ::::: (import) http://fonts.googleapis.com/css?family=Open+Sans:600 ::::: */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("mem5YaGs126MiZpBA-UNirkOX-hpOqc.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("mem5YaGs126MiZpBA-UNirkOVuhpOqc.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("mem5YaGs126MiZpBA-UNirkOXuhpOqc.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("mem5YaGs126MiZpBA-UNirkOUehpOqc.woff2") format("woff2");
  unicode-range: U+370-3FF;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("mem5YaGs126MiZpBA-UNirkOXehpOqc.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("mem5YaGs126MiZpBA-UNirkOXOhpOqc.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("mem5YaGs126MiZpBA-UNirkOUuhp.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* ::::: (end import) ::::: */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ul { list-style: outside none none; }
#wrapper { background: transparent url("bg_wrapper_d1.png") repeat-y scroll 0% 0%; margin: 0px auto; width: 980px; position: relative; }
#top_cap { background: transparent url("bg_top_d1.png") no-repeat scroll 0% 0%; width: 980px; height: 36px; margin: 0px auto; }
#bottom_cap { background: rgb(30, 68, 106) none repeat scroll 0% 0%; width: 100%; }
#bottom_cap_img { background: transparent url("bg_bottom_d1.png") no-repeat scroll 0% 0%; width: 980px; margin: 0px auto; height: 31px; }
html { height: 100%; }
body { font-family: sans-serif; font-weight: 300; color: rgb(60, 60, 60); font-size: 0.9em; background: rgb(46, 94, 141) url("background_gradient.gif") repeat-x scroll 0% 0%; line-height: 1.4em; height: 100%; }
#header { background: transparent url("background_header.png") repeat-x scroll 0% 0%; width: 940px; height: 109px; margin: 0px auto; position: relative; clear: both; }
#header_left { float: left; width: 625px; height: 120px; margin-top: -11px; }
#header_right { float: left; width: 315px; margin: 0px; }
#logo { width: 155px; height: 120px; display: block; }
#header_department { top: 10px; left: 166px; position: absolute; color: rgb(147, 147, 147); font-weight: 300; }
#header_division { left: 165px; top: 30px; width: 450px; position: absolute; color: rgb(58, 58, 58); text-shadow: 1px 1px 2px rgb(150, 149, 149); font-weight: 100; line-height: 1.3em; }
#header_department.medium { font-size: 1.5em; }
#header_division.medium { font-size: 2.5em; }
#header_nv_links { width: 215px; margin: -30px 0px 0px 85px; height: 35px; }
#header_nv_links ul { list-style: outside none none; margin: 0px; padding: 0px; }
#header_nv_links ul li { float: left; }
#header_nv_links ul li a { padding: 0px 4px; }
#header_nv_links ul li a { color: rgb(58, 58, 58); text-decoration: underline; font-size: 0.9em; }
nav { position: relative; height: 51px; width: 940px; clear: both; z-index: 1; }
#navigation { left: 20px; background: transparent url("background_navigation.png") repeat-x scroll 0% 0%; margin: 0px; padding: 0px; }
#navigation > ul { list-style: outside none none; margin: 0px; padding: 0px; }
#navigation > ul > li { float: left; line-height: 39px; border-right: 1px solid rgb(159, 126, 92); }
#navigation > ul > li > a { float: left; height: 39px; padding: 0px 8px; font-size: 14px; font-family: "Arial",sans-serif; font-weight: bold; color: rgb(17, 17, 17); text-transform: uppercase; text-decoration: none; }
#navigation ul li a:hover, #navigation ul li a.active, #navigation ul li a:hover { background: rgb(232, 231, 231) none repeat scroll 0% 0%; }
#navigation ul li ul { list-style: outside none none; display: none; padding-top: 20px; left: 0px; position: absolute; top: 39px; width: 910px; height: 180px; background: rgb(232, 231, 231) url("background_menu.png") repeat scroll 0% 0%; border-bottom-right-radius: 15px; border-bottom-left-radius: 15px; box-shadow: 0px 5px 20px rgb(136, 136, 136); }
#navigation ul li ul li { float: left; width: 20%; background: transparent url("arrow_item_tiny.png") no-repeat scroll 0px 0px; padding: 0px 20px 25px; margin: 0px; line-height: 15px; }
#navigation ul li ul li a { font-size: 12px; text-transform: inherit; font-weight: normal; color: rgb(30, 68, 106); }
#navigation ul li ul li a:hover { text-decoration: underline; background: transparent none repeat scroll 0% 0%; }
#alerts { display: block; margin: 0px 20px; }
#content { margin: 0px 35px; }
#footer { clear: both; background: rgb(30, 68, 106) none repeat scroll 0% 0%; width: 100%; position: relative; padding-bottom: 25px; }
#footer_body { margin: 0px auto; width: 980px; color: rgb(234, 234, 234); padding-left: 40px; clear: both; padding-top: 15px; }
#footer_body a { color: rgb(234, 234, 234); text-decoration: underline; }
#footer_menu > div { float: left; width: 150px; font-weight: bold; text-transform: uppercase; margin-bottom: 25px; margin-right: 10px; }
#footer_menu .MenuLevel_1 { padding-top: 2px; font-weight: normal; text-transform: none; font-size: 0.9em; }
#footer_left { float: left; width: 700px; }
#footer_right { float: left; width: 220px; }
#social_footer { text-align: right; color: rgb(0, 0, 0); }
#social_footer #social_bar ul { list-style: outside none none; float: right; }
#social_footer #social_bar li { float: left; padding-left: 5px; }
#social_footer #social_bar ul img { width: 28px; }
#social_footer .fb-like { padding-bottom: 5px; padding-top: 5px; }
.goog-te-gadget span { color: rgb(0, 0, 0); text-decoration: none; }
#google_translate_element { clear: both; }
#small_footer_menu { clear: both; padding-top: 10px; font-size: 0.85em; text-align: center; }
#small_footer_menu > div { float: left; padding-right: 10px; }
#small_footer_menu a { color: inherit; text-decoration: underline; font-weight: normal; }
h1 { font-size: 18px; margin: 10px 0px; background: transparent url("arrow_header.png") no-repeat scroll 0px 0px; padding: 0px 0px 10px 40px; font-family: "Open Sans",sans-serif; color: rgb(44, 44, 44); line-height: normal; font-weight: normal; text-transform: uppercase; }
h2 { font-size: 16px; font-weight: normal; margin: 0.5em 0px; border-bottom: 1px solid rgb(195, 195, 195); color: rgb(216, 105, 38); line-height: 20px; font-family: "Open Sans",sans-serif; }
p, .text { margin: 10px 0px; }
a { text-decoration: none; color: rgb(31, 112, 167); }
a:hover { text-decoration: underline; }
ol, ul { padding-left: 30px; }
ul { list-style-type: square; }
hr { color: rgb(54, 94, 147); background-color: rgb(54, 94, 147); height: 1px; border: 0px none; }
.clean { clear: both; float: none; border: medium none; margin: 0px; padding: 0px; width: auto; height: 2px; font-size: 1px; }
#banner_left { float: left; }
#banner_right { float: left; width: 290px; margin-left: 25px; margin-top: 10px; }
#content_main { clear: both; }
#content_right { float: right; width: 32%; margin-left: 25px; }
.slide { z-index: 0 ! important; }
#slides_2 { width: 570px; padding: 10px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; box-shadow: 5px 5px 5px rgb(136, 136, 136); margin-bottom: 20px; margin-top: 15px; }
.ada_logo { float: right; margin-top: 20px; }
/* ::::: http://gov.nv.gov/layouts/CSS/agency.css ::::: */

#header_department { font-size: 1.5em; color: rgb(86, 86, 86); }
#header_division { font-size: 2.5em; }
h2 { color: rgb(143, 51, 31); font-family: "Arial Black",Gadget,sans-serif; font-size: 1.15em; padding-top: 16px; }
a { color: rgb(31, 68, 104) ! important; text-decoration: underline ! important; }
a:link { text-decoration: underline ! important; }
a:hover { text-decoration: underline ! important; }
a:visited { text-decoration: underline ! important; }
.egMenuLevel_0 { color: Black ! important; }
.egMenuLevel_1 { color: rgb(31, 68, 104) ! important; }
.MenuLevel_0 { color: white ! important; }
.MenuLevel_1 { color: white ! important; }
#skipNav { margin-left: 12%; margin-right: auto; }
#skipNav a { color: white; text-decoration: underline; font-size: 12px; border-radius: 10px; }
#skipNav a:active { border-radius: 10px; padding: 5px; }
#skipNav a:focus { border-radius: 10px; background-color: red; font-size: 1.25em; padding: 5px; }
#skipNav a:link { color: white ! important; text-decoration: underline; }
#skipNav a:visited { color: white ! important; text-decoration: underline; }
#skipNav a:hover { color: white ! important; text-decoration: underline; background-color: red; border-radius: 10px; padding: 5px; }
#twitter-widget-0 { position: relative; visibility: visible; display: inline-block; width: 290px; height: 290px; padding: 0px; border: medium none; max-width: 100%; min-width: 180px; margin-top: 0px; margin-bottom: 0px; min-height: 200px; z-index: 0 ! important; }
[title~="+1"] { position: relative; top: 0px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 24px; z-index: 0; width: 100% ! important; }
#rufous-sandbox { position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: medium none ! important; }
#EkBubbleTable { padding: 0px ! important; }
#EkBubbleTableT { padding: 0px ! important; }
.goog-te-menu-value span:last-child { color: rgb(143, 51, 31) ! important; }
.threeD-button-blue, .threeD-button-blueSq, .threeD-button-red14, .threeD-button-burgundy, .threeD-button-burgundySq, .threeD-button-burgundySqNP { width: 100%; display: inline-block; font-size: 1em; color: rgb(255, 255, 255) ! important; text-decoration: underline; text-align: center; text-shadow: 1px 1px 0px rgb(7, 82, 110); padding: 6px; margin-left: auto; margin-right: auto; margin-bottom: 10px; position: relative; cursor: pointer; border: medium none; background: rgb(30, 68, 106) linear-gradient(rgb(15, 62, 85) 0%, rgb(15, 62, 85) 100%) repeat scroll 0% 0%; }
.threeD-button-blue:active, .threeD-button-blueSq:active, .threeD-button-red14:active, .threeD-button-burgundy:active, .threeD-button-burgundySq:active, .threeD-button-burgundySqNP:active { top: 3px; box-shadow: 0px 1px 0px rgb(42, 183, 236) inset, 0px 2px 0px 0px rgb(7, 82, 110), 0px 5px 3px rgb(153, 153, 153); }
.threeD-button-blue::before, .threeD-button-blueSq::before, .threeD-button-red14::before, .threeD-button-burgundy::before, .threeD-button-burgundySq::before, .threeD-button-burgundySqNP::before { font-family: "socialfont"; font-size: 1.75em; line-height: 1.25em; font-weight: normal; color: rgb(255, 255, 255); width: 90%; height: 90px; display: block; position: absolute; padding-top: 10px; top: 10px; text-shadow: 1px 1px 2px rgb(7, 82, 110); }
.threeD-button-blue:active::before, .threeD-button-blueSq:active::before, .threeD-button-red14:active::before, .threeD-button-burgundySq:active::before, .threeD-button-burgundySqNP:active::before { top: 7px; font-size: 50px; text-shadow: 0px 3px 0px rgb(7, 82, 110), 0px 5px 1px rgb(7, 82, 110); }
.threeD-button-blue:hover, .threeD-button-blueSq :hover { top: 7px; color: white ! important; }
.threeD-button-blue { box-shadow: 0px 1px 0px rgb(26, 66, 127) inset, 0px 5px 0px 0px rgb(13, 61, 86), 0px 10px 5px rgb(26, 66, 127); border-radius: 10px; font-size: 1.15em; }
.top5List { width: 65%; float: left; }
/* ::::: https://translate.googleapis.com/translate_static/css/translateelement.css ::::: */

.goog-te-banner-frame { left: 0px; top: 0px; height: 39px; width: 100%; z-index: 10000001; position: fixed; border-width: medium medium 1px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(107, 144, 218); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin: 0px; box-shadow: 0px 0px 8px 1px rgb(153, 153, 153); }
.goog-te-menu-frame { z-index: 10000002; position: fixed; border: medium none; box-shadow: 0px 3px 8px 2px rgb(153, 153, 153); }
.goog-te-gadget { font-family: arial; font-size: 11px; color: rgb(102, 102, 102); white-space: nowrap; }
.goog-te-gadget img { vertical-align: middle; border: medium none; }
.goog-te-gadget-simple { background-color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(155, 155, 155) rgb(213, 213, 213) rgb(232, 232, 232); font-size: 10pt; display: inline-block; padding-top: 1px; padding-bottom: 2px; cursor: pointer; }
.goog-te-gadget-icon { margin-left: 2px; margin-right: 2px; width: 19px; height: 19px; border: medium none; vertical-align: middle; }
.goog-te-menu-value { text-decoration: none; color: rgb(0, 0, 204); white-space: nowrap; margin-left: 4px; margin-right: 4px; }
.goog-te-menu-value span { text-decoration: underline; }
.goog-te-menu-value img { margin-left: 2px; margin-right: 2px; }
.goog-te-gadget-simple .goog-te-menu-value { color: rgb(0, 0, 0); }
.goog-te-gadget-simple .goog-te-menu-value span { text-decoration: none; }
.goog-te-spinner-pos { z-index: 1000; position: fixed; transition-delay: 0.6s; left: -1000px; top: -1000px; }
.goog-te-spinner-animation { display: flex; align-items: center; justify-content: center; width: 104px; height: 104px; border-radius: 50px; background: rgb(255, 255, 255) url("translate_24dp_001.png") no-repeat scroll 50% 50%; transition: all 0.6s ease-in-out 0s; transform: scale(0.4); opacity: 0; }
.goog-te-spinner { margin: 2px 0px 0px 2px; animation: 1.4s linear 0s normal none infinite running goog-te-spinner-rotator; }
@keyframes goog-te-spinner-rotator {
0% { transform: rotate(0deg); }
100% { transform: rotate(270deg); }
}
.goog-te-spinner-path { stroke-dasharray: 187; stroke-dashoffset: 0; stroke: rgb(66, 133, 244); transform-origin: center center 0px; animation: 1.4s ease-in-out 0s normal none infinite running goog-te-spinner-dash; }
@keyframes goog-te-spinner-dash {
0% { stroke-dashoffset: 187; }
50% { stroke-dashoffset: 46.75; transform: rotate(135deg); }
100% { stroke-dashoffset: 187; transform: rotate(450deg); }
}
#goog-gt-tt html, #goog-gt-tt body, #goog-gt-tt div, #goog-gt-tt span, #goog-gt-tt iframe, #goog-gt-tt h1, #goog-gt-tt h2, #goog-gt-tt h3, #goog-gt-tt h4, #goog-gt-tt h5, #goog-gt-tt h6, #goog-gt-tt p, #goog-gt-tt a, #goog-gt-tt img, #goog-gt-tt ol, #goog-gt-tt ul, #goog-gt-tt li, #goog-gt-tt table, #goog-gt-tt form, #goog-gt-tt tbody, #goog-gt-tt tr, #goog-gt-tt td { margin: 0px; padding: 0px; border: 0px none; font-family: inherit; font-style: inherit; font-weight: inherit; font-size: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-synthesis: inherit; font-variant: inherit; vertical-align: baseline; text-align: left; line-height: normal; }
div#goog-gt-tt { padding: 10px 14px; }
#goog-gt-tt { color: rgb(34, 34, 34); background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2); display: none; font-family: arial; font-size: 10pt; width: 420px; padding: 12px; position: absolute; z-index: 10000; }
#goog-gt-tt .original-text, .gt-hl-layer { clear: both; font-size: 10pt; position: relative; text-align: justify; width: 100%; }
#goog-gt-tt .title { color: rgb(153, 153, 153); font-family: arial,sans-serif; margin: 4px 0px; text-align: left; }
#goog-gt-tt .logo { float: left; margin: 0px; }
#goog-gt-tt .activity-links { display: inline-block; }
#goog-gt-tt .started-activity-container { display: none; width: 100%; }
#goog-gt-tt .activity-root { margin-top: 20px; }
#goog-gt-tt .bottom { min-height: 15px; position: relative; height: 1%; }
#goog-gt-tt .status-message { background: rgb(41, 145, 13) none repeat scroll 0% 0%; border-radius: 4px; box-shadow: 0px 2px 2px rgb(30, 102, 9) inset; color: white; font-size: 9pt; font-weight: bolder; margin-top: 12px; padding: 6px; text-shadow: 1px 1px 1px rgb(30, 102, 9); }
#goog-gt-tt .activity-link { color: rgb(17, 85, 204); cursor: pointer; font-family: arial; font-size: 11px; margin-right: 15px; text-decoration: none; }
#goog-gt-tt .gray { color: rgb(153, 153, 153); font-family: arial,sans-serif; }
#goog-gt-tt span:focus { outline: medium none; }
/* ::::: https://www.google.com/uds/api/search/1.0/76c37a052829ad2c9825658fbbc50bce/default+en.css ::::: */

.gsc-control-cse, .gsc-control-cse .gsc-table-result { width: 100%; font-family: Arial,sans-serif; font-size: 13px; }
.gsc-control-cse div { position: static; }
form.gsc-search-box { font-size: 13px; margin: 0px 0px 4px; width: 100%; }
table.gsc-search-box { border-style: none; border-width: 0px; border-spacing: 0px; width: 100%; margin-bottom: 2px; }
table.gsc-search-box td { vertical-align: middle; }
table.gsc-search-box td.gsc-input { padding-right: 12px; }
td.gsc-search-button { width: 1%; }
td.gsc-clear-button { width: 14px; }
.gsc-search-button { margin-left: 2px; }
div.gsc-clear-button { display: inline; text-align: right; margin-left: 4px; margin-right: 4px; padding-left: 10px; background-repeat: no-repeat; background-position: center center; background-image: url("clear.gif"); cursor: pointer; }
.gsc-search-box-tools .gsc-clear-button { display: none; }
.gsc-results-close-btn { background-image: url("nav_logo114.png"); background-repeat: no-repeat; background-position: -140px -230px; float: right; display: none; opacity: 0; height: 12px; width: 12px; position: absolute ! important; top: 20px; right: 20px; cursor: pointer; }
.gsc-results-wrapper-overlay { border: medium none; margin: auto; border-radius: 1px; overflow: auto; height: 80%; box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4); border-collapse: separate; background: white none repeat scroll 0% 0%; padding: 30px; width: 70%; position: fixed ! important; top: 5%; left: 12%; opacity: 0; z-index: 100002; visibility: hidden; transition: all 0.25s linear 0s; }
.gsc-modal-background-image { position: fixed ! important; top: 0px; left: 0px; height: 130%; width: 100%; z-index: 100001; background-color: white; opacity: 0; display: none; transition: all 0.25s linear 0s; }
input.gsc-input { padding: 1px 6px; border: 1px solid rgb(221, 221, 221); width: 99%; }
.gsc-resultsHeader { width: 100%; clear: both; }
.gsc-resultsHeader td.gsc-twiddleRegionCell { width: 75%; }
.gsc-resultsHeader td.gsc-configLabelCell { text-align: right; width: 75%; }
.gsc-resultsHeader .gsc-twiddle { margin-top: 4px; display: inline; cursor: pointer; background-repeat: no-repeat; background-position: 0px 2px; }
.gsc-resultsHeader .gsc-title { color: rgb(103, 103, 103); margin-right: 10px; padding-left: 14px; display: inline; }
.gsc-resultsHeader .gsc-stats { color: rgb(103, 103, 103); font-size: 11px; font-weight: normal; display: inline; }
.gsc-results-selector { display: inline; }
.gsc-result-selector { cursor: pointer; display: inline; font-size: 13px; padding-left: 13px; background-repeat: no-repeat; background-position: left center; }
.gsc-one-result { background-image: url("one-complex-dark.gif"); }
.gsc-more-results { background-image: url("more-complex-dark.gif"); }
.gsc-all-results { background-image: url("all-complex-dark.gif"); padding-right: 1px; }
.gsc-all-results-active .gsc-all-results { background-image: url("all-complex-light-blue.gif"); }
.gsc-tabsAreaInvisible, .gsc-refinementsAreaInvisible, .gsc-refinementBlockInvisible { display: none; }
.gsc-tabHeader { padding-left: 6px; padding-right: 6px; margin-right: 2px; margin-top: 2px; }
.gsc-tabHeader.gsc-tabhActive { border-left: 1px solid rgb(233, 233, 233); border-right: 1px solid rgb(233, 233, 233); border-top: 2px solid rgb(255, 153, 0); color: black; }
.gsc-tabData.gsc-tabdActive { display: block; }
.gsc-tabData .gsc-resultsHeader .gsc-title { display: none; }
.gsc-tabData .gsc-resultsHeader .gsc-stats { display: none; }
.gsc-tabData .gsc-resultsHeader .gsc-results-selector { display: none; }
.gsc-resultsbox-invisible { display: none; }
.gsc-wrapper { position: relative; display: block; }
.gsc-adBlockInvisible { display: none; }
.gsc-above-wrapper-area-invisible { display: none; }
.gsc-above-wrapper-area-container { width: 100%; }
.gsc-result-info-container { text-align: left; }
.gsc-result-info-invisible { display: none; }
.gsc-orderby-container { text-align: right; background: transparent none repeat scroll 0% 0%; }
.gsc-orderby-invisible { display: none; }
.gsc-orderby-label { color: rgb(103, 103, 103); padding: 5px 5px 6px 0px; }
.gsc-selected-option-container { background-color: transparent; border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 2px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); color: rgb(68, 68, 68); cursor: default; font-size: 11px; font-weight: bold; height: 27px; line-height: 27px; max-width: 90%; min-width: 54px; outline: 0px none; padding: 0px 28px 0px 6px; position: relative; text-align: center; }
.gsc-selected-option { position: relative; width: 100%; }
.gsc-control-cse .gsc-option-selector { border: medium none; height: 11px; margin-top: -4px; position: absolute; right: 5px; top: 12px; width: 7px; padding: 0px 5px; background: transparent url("small-grey-disclosure-arrow-down.png") no-repeat scroll center center; }
.gsc-option-menu-invisible { display: none; }
.gsc-control-cse .gsc-option-menu-container { color: rgb(0, 0, 0); font-size: 80%; position: relative; }
.gsc-option-menu-item { color: rgb(119, 119, 119); cursor: pointer; list-style: outside none none; margin: 0px; padding: 0px 30px; white-space: nowrap; }
.gsc-option-menu-item-highlighted { background-color: rgb(238, 238, 238); border-color: rgb(238, 238, 238); border-width: 1px 0px; color: rgb(51, 51, 51); }
.gsc-option { cursor: pointer; list-style: outside none none; white-space: nowrap; line-height: 27px; text-align: left; }
.gsc-control-cse::after { content: "."; display: block; clear: both; height: 0px; visibility: hidden; }
html > body .gsc-inline-block { display: inline-block; }
.gsc-inline-block { position: relative; display: inline-block; }
/* ::::: https://www.google.com/cse/static/style/look/v2/default.css ::::: */

.cse .gsc-control-cse, .gsc-control-cse { padding: 1em; width: auto; }
.cse .gsc-control-wrapper-cse, .gsc-control-wrapper-cse { width: 100%; }
.cse .gsc-control-cse, .gsc-control-cse { background-color: rgb(255, 255, 255); border: 1px solid rgb(255, 255, 255); }
.cse .gsc-control-cse::after, .gsc-control-cse::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.cse .gsc-resultsHeader, .gsc-resultsHeader {  }
table.gsc-search-box td.gsc-input { padding-right: 24px; }
.gsc-search-box-tools .gsc-search-box .gsc-input { padding-right: 12px; }
input.gsc-input { font-size: 16px; }
.gsc-input-box { border: 1px solid rgb(217, 217, 217); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.cse .gsc-search-button-v2, .gsc-search-button-v2 { font-size: 0px; padding: 6px 27px; width: auto; vertical-align: middle; border: 1px solid rgb(48, 121, 237); border-radius: 2px; background-color: rgb(77, 144, 254); background-image: -moz-linear-gradient(center top , rgb(77, 144, 254), rgb(71, 135, 237)); }
.cse .gsc-search-button-v2:hover, .gsc-search-button-v2:hover { border-color: rgb(47, 91, 183); background-color: rgb(53, 122, 232); background-image: -moz-linear-gradient(center top , rgb(77, 144, 254), rgb(53, 122, 232)); }
.cse .gsc-search-button-v2:focus, .gsc-search-button-v2:focus { box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5) inset; }
.gsc-search-button-v2 svg { fill: rgb(255, 255, 255); }
button::-moz-focus-inner { padding: 0px; border: 0px none; }
.gsc-tabHeader { display: inline-block; padding: 0px 8px 1px; margin-right: 0px; margin-top: 0px; font-weight: bold; height: 27px; line-height: 27px; min-width: 54px; text-align: center; }
.gsc-tabHeader.gsc-tabhActive { border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(32, 32, 32); }
div.gsc-clear-button { background-image: url("clear.png"); }
div.gsc-clear-button:hover { background-image: url("clear-hover.png"); }
.gsc-selected-option-container { background-color: whiteSmoke; background-image: -moz-linear-gradient(center top , whiteSmoke, rgb(241, 241, 241)); }
/* ::::: [internal] ::::: */

.gsc-control-cse { font-family: arial,sans-serif; }
.gsc-control-cse { border-color: rgb(255, 255, 255); background-color: rgb(255, 255, 255); }
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus { border-color: rgb(217, 217, 217); }
.gsc-search-button-v2, .gsc-search-button-v2:hover, .gsc-search-button-v2:focus { border-color: rgb(102, 102, 102); background-color: rgb(206, 206, 206); background-image: none; filter: none; }
.gsc-search-button-v2 svg { fill: rgb(255, 255, 255); }
.gsc-tabHeader.gsc-tabhActive { border-color: rgb(255, 153, 0) rgb(255, 153, 0) rgb(255, 255, 255); background-color: rgb(255, 255, 255); }
/* ::::: [internal] ::::: */

.gscb_a { display: inline-block; font: 27px/13px arial,sans-serif; }
.gsst_a .gscb_a { color: rgb(161, 185, 237); cursor: pointer; }
.gsst_a:hover .gscb_a, .gsst_a:focus .gscb_a { color: rgb(51, 102, 204); }
.gsst_a { display: inline-block; }
.gsst_a { cursor: pointer; padding: 0px 4px; }
.gsst_a:hover { text-decoration: none ! important; }
.gsst_b { font-size: 16px; padding: 0px 2px; position: relative; -moz-user-select: none; white-space: nowrap; }
.gsib_a { width: 100%; padding: 4px 6px 0px; }
.gsib_a, .gsib_b { vertical-align: top; }
.gssb_c { border: 0px none; position: absolute; z-index: 989; }
.gssb_e { border-width: 1px; border-style: solid; border-color: rgb(217, 217, 217) rgb(204, 204, 204) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); cursor: default; }
.gssb_f { visibility: hidden; white-space: nowrap; }
.gsib_a { padding-right: 8px; padding-left: 8px; }
.gsst_a { padding-top: 5.5px; }
.gssb_e { border: 0px none; }
input.gsc-input:-moz-placeholder { font-size: 14px; }
input.gsc-input::-moz-placeholder { font-size: 14px; }
input.gsc-input:focus:-moz-placeholder { color: transparent; }
input.gsc-input:focus::-moz-placeholder { color: transparent; }
.gssb_c { z-index: 5000; }
.gssb_c > tbody > tr, .gssb_c > tbody > tr > td, .gssb_d, .gssb_d > tbody > tr, .gssb_d > tbody > tr > td, .gssb_e, .gssb_e > tbody > tr, .gssb_e > tbody > tr > td { padding: 0px; margin: 0px; border: 0px none; }
/* ::::: [internal] ::::: */

.fb_reset { background: transparent none repeat scroll 0% 0%; border: 0px none; border-spacing: 0px; color: rgb(0, 0, 0); cursor: auto; direction: ltr; font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 11px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 1; margin: 0px; overflow: visible; padding: 0px; text-align: left; text-decoration: none; text-indent: 0px; text-shadow: none; text-transform: none; visibility: visible; white-space: normal; word-spacing: normal; }
.fb_reset > div { overflow: hidden; }
@keyframes fb_transform {
0% { opacity: 0; transform: scale(0.95); }
100% { opacity: 1; transform: scale(1); }
}
@keyframes rotateSpinner {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.fb_iframe_widget { display: inline-block; position: relative; }
.fb_iframe_widget span { display: inline-block; position: relative; text-align: justify; }
.fb_iframe_widget iframe { position: absolute; }
@keyframes fb_bounce_in_v2 {
0% { opacity: 0; transform: scale(0, 0); transform-origin: right bottom 0px; }
50% { transform: scale(1.03, 1.03); transform-origin: right bottom 0px; }
100% { opacity: 1; transform: scale(1, 1); transform-origin: right bottom 0px; }
}
@keyframes fb_bounce_in_v2_mobile_chat_started {
0% { opacity: 0; top: 20px; }
100% { opacity: 1; top: 0px; }
}
@keyframes fb_bounce_out_v2 {
0% { opacity: 1; transform: scale(1, 1); transform-origin: right bottom 0px; }
100% { opacity: 0; transform: scale(0, 0); transform-origin: right bottom 0px; }
}
@keyframes fb_bounce_out_v2_mobile_chat_started {
0% { opacity: 1; top: 0px; }
100% { opacity: 0; top: 20px; }
}
@keyframes fb_customer_chat_bubble_bounce_in_animation {
0% { bottom: 6pt; opacity: 0; transform: scale(0, 0); transform-origin: center center 0px; }
70% { bottom: 18pt; opacity: 1; transform: scale(1.2, 1.2); }
100% { transform: scale(1, 1); }
}
