/* ::::: https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: 700; }
h1 { margin: 0.67em 0px; font-size: 2em; }
small { font-size: 80%; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
hr { height: 0px; box-sizing: content-box; }
button, input, optgroup, select, textarea { margin: 0px; font: inherit; color: inherit; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
input { line-height: normal; }
table { border-spacing: 0px; border-collapse: collapse; }
td, th { padding: 0px; }
@media print {
  *, *::after, *::before { color: rgb(0, 0, 0) ! important; text-shadow: none ! important; background: transparent none repeat scroll 0px 0px ! important; box-shadow: none ! important; }
  a, a:visited { text-decoration: underline; }
  a[href]::after { content: " (" attr(href) ")"; }
  a[href^="javascript:"]::after, a[href^="#"]::after { content: ""; }
  blockquote, pre { border: 1px solid rgb(153, 153, 153); page-break-inside: avoid; }
  thead { display: table-header-group; }
  img, tr { page-break-inside: avoid; }
  img { max-width: 100% ! important; }
  h2, h3, p {  }
  h2, h3 { page-break-after: avoid; }
  .table { border-collapse: collapse ! important; }
  .table td, .table th { background-color: rgb(255, 255, 255) ! important; }
}
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("glyphicons-halflings-regular.eot") format("embedded-opentype"), url("glyphicons-halflings-regular.woff2") format("woff2"), url("glyphicons-halflings-regular.woff") format("woff"), url("glyphicons-halflings-regular.ttf") format("truetype"), url("glyphicons-halflings-regular.svg") format("svg");
}
.glyphicon { position: relative; top: 1px; display: inline-block; font-family: "Glyphicons Halflings"; font-style: normal; font-weight: 400; line-height: 1; }
.glyphicon-remove::before { content: ""; }
.glyphicon-earphone::before { content: ""; }
* { box-sizing: border-box; }
*::after, *::before { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
button, input, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:focus, a:hover { color: rgb(35, 82, 124); text-decoration: underline; }
a:focus { outline-offset: -2px; }
img { vertical-align: middle; }
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img { display: block; max-width: 100%; height: auto; }
.img-rounded { border-radius: 6px; }
hr { margin-top: 20px; margin-bottom: 20px; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(238, 238, 238) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
.h1, .h2, .h3, h1, h2, h3 { margin-top: 20px; margin-bottom: 10px; }
.h4, .h5, .h6, h4, h5, h6 { margin-top: 10px; margin-bottom: 10px; }
.h1, h1 { font-size: 36px; }
.h3, h3 { font-size: 24px; }
.h4, h4 { font-size: 18px; }
p { margin: 0px 0px 10px; }
@media (min-width: 768px) {
}
.small, small { font-size: 85%; }
ol, ul { margin-top: 0px; margin-bottom: 10px; }
@media (min-width: 768px) {
}
blockquote { padding: 10px 20px; margin: 0px 0px 20px; font-size: 17.5px; border-left: 5px solid rgb(238, 238, 238); }
address { margin-bottom: 20px; font-style: normal; line-height: 1.42857; }
.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
@media (min-width: 768px) {
  .container { width: 750px; }
}
@media (min-width: 992px) {
  .container { width: 970px; }
}
@media (min-width: 1200px) {
  .container { width: 1170px; }
}
.row { margin-right: -15px; margin-left: -15px; }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { float: left; }
.col-xs-12 { width: 100%; }
.col-xs-6 { width: 50%; }
.col-xs-4 { width: 33.3333%; }
@media (min-width: 768px) {
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 { float: left; }
  .col-sm-12 { width: 100%; }
  .col-sm-7 { width: 58.3333%; }
  .col-sm-6 { width: 50%; }
  .col-sm-5 { width: 41.6667%; }
  .col-sm-4 { width: 33.3333%; }
  .col-sm-3 { width: 25%; }
  .col-sm-2 { width: 16.6667%; }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 { float: left; }
  .col-md-12 { width: 100%; }
  .col-md-8 { width: 66.6667%; }
  .col-md-7 { width: 58.3333%; }
  .col-md-6 { width: 50%; }
  .col-md-5 { width: 41.6667%; }
  .col-md-4 { width: 33.3333%; }
  .col-md-3 { width: 25%; }
}
@media (min-width: 1200px) {
}
table { background-color: transparent; }
.table { width: 100%; max-width: 100%; margin-bottom: 20px; }
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th { padding: 8px; line-height: 1.42857; vertical-align: top; border-top: 1px solid rgb(221, 221, 221); }
.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th { border-top: 0px none; }
.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th { padding: 5px; }
.table-striped > tbody > tr:nth-of-type(2n+1) { background-color: rgb(249, 249, 249); }
.table-hover > tbody > tr:hover { background-color: rgb(245, 245, 245); }
@media screen and (max-width: 767px) {
}
label { display: inline-block; max-width: 100%; margin-bottom: 5px; font-weight: 700; }
@media not all {
}
.input-lg { height: 46px; padding: 10px 16px; font-size: 18px; line-height: 1.33333; border-radius: 6px; }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.btn { display: inline-block; padding: 6px 12px; margin-bottom: 0px; font-size: 14px; font-weight: 400; line-height: 1.42857; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; -moz-user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus { outline-offset: -2px; }
.btn.focus, .btn:focus, .btn:hover { color: rgb(51, 51, 51); text-decoration: none; }
.btn.active, .btn:active { background-image: none; outline: 0px none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.btn-primary { color: rgb(255, 255, 255); background-color: rgb(51, 122, 183); border-color: rgb(46, 109, 164); }
.btn-primary.focus, .btn-primary:focus { color: rgb(255, 255, 255); background-color: rgb(40, 96, 144); border-color: rgb(18, 43, 64); }
.btn-primary:hover { color: rgb(255, 255, 255); background-color: rgb(40, 96, 144); border-color: rgb(32, 77, 116); }
.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary { color: rgb(255, 255, 255); background-color: rgb(40, 96, 144); border-color: rgb(32, 77, 116); }
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover { color: rgb(255, 255, 255); background-color: rgb(32, 77, 116); border-color: rgb(18, 43, 64); }
.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary { background-image: none; }
.btn-group-lg > .btn, .btn-lg { padding: 10px 16px; font-size: 18px; line-height: 1.33333; border-radius: 6px; }
.fade { opacity: 0; transition: opacity 0.15s linear 0s; }
.fade.in { opacity: 1; }
@media (min-width: 768px) {
}
.nav { padding-left: 0px; margin-bottom: 0px; list-style: outside none none; }
.nav > li { position: relative; display: block; }
.nav > li > a { position: relative; display: block; padding: 10px 15px; }
.nav > li > a:focus, .nav > li > a:hover { text-decoration: none; background-color: rgb(238, 238, 238); }
.nav-tabs { border-bottom: 1px solid rgb(221, 221, 221); }
.nav-tabs > li { float: left; margin-bottom: -1px; }
.nav-tabs > li > a { margin-right: 2px; line-height: 1.42857; border: 1px solid transparent; border-radius: 4px 4px 0px 0px; }
.nav-tabs > li > a:hover { border-color: rgb(238, 238, 238) rgb(238, 238, 238) rgb(221, 221, 221); }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { color: rgb(85, 85, 85); cursor: default; background-color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) rgb(221, 221, 221) transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.tab-content > .tab-pane { display: none; }
.tab-content > .active { display: block; }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-device-width: 480px) and (orientation: landscape) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media screen and (min-width: 768px) {
}
@keyframes progress-bar-stripes {
0% { background-position: 40px 0px; }
100% { background-position: 0px 0px; }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
.carousel { position: relative; }
.carousel-inner { position: relative; width: 100%; overflow: hidden; }
.carousel-inner > .item { position: relative; display: none; transition: left 0.6s ease-in-out 0s; }
.carousel-inner > .item > a > img, .carousel-inner > .item > img { line-height: 1; }
@media not all, not all {
  .carousel-inner > .item { transition: transform 0.6s ease-in-out 0s; backface-visibility: hidden; perspective: 1000px; }
  .carousel-inner > .item.active, .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right { left: 0px; transform: translate3d(0px, 0px, 0px); }
}
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev { display: block; }
.carousel-inner > .active { left: 0px; }
.carousel-control { position: absolute; top: 0px; bottom: 0px; left: 0px; width: 15%; font-size: 20px; color: rgb(255, 255, 255); text-align: center; text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6); background-color: transparent; opacity: 0.5; }
.carousel-control.left { background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, transparent 100%); background-repeat: repeat-x; }
.carousel-control.right { right: 0px; left: auto; background-image: linear-gradient(to right, transparent 0px, rgba(0, 0, 0, 0.5) 100%); background-repeat: repeat-x; }
.carousel-control:focus, .carousel-control:hover { color: rgb(255, 255, 255); text-decoration: none; outline: 0px none; opacity: 0.9; }
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev { position: absolute; top: 50%; z-index: 5; display: inline-block; margin-top: -10px; }
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev { left: 50%; margin-left: -10px; }
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next { right: 50%; margin-right: -10px; }
.carousel-control .icon-next, .carousel-control .icon-prev { width: 20px; height: 20px; font-family: serif; line-height: 1; }
.carousel-control .icon-prev::before { content: "‹"; }
.carousel-control .icon-next::before { content: "›"; }
.carousel-indicators { position: absolute; bottom: 10px; left: 50%; z-index: 15; width: 60%; padding-left: 0px; margin-left: -30%; text-align: center; list-style: outside none none; }
.carousel-indicators li { display: inline-block; width: 10px; height: 10px; margin: 1px; text-indent: -999px; cursor: pointer; background-color: transparent; border: 1px solid rgb(255, 255, 255); border-radius: 10px; }
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev { width: 30px; height: 30px; margin-top: -10px; font-size: 30px; }
  .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev { margin-left: -10px; }
  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next { margin-right: -10px; }
  .carousel-indicators { bottom: 20px; }
}
.btn-group-vertical > .btn-group::after, .btn-group-vertical > .btn-group::before, .btn-toolbar::after, .btn-toolbar::before, .clearfix::after, .clearfix::before, .container-fluid::after, .container-fluid::before, .container::after, .container::before, .dl-horizontal dd::after, .dl-horizontal dd::before, .form-horizontal .form-group::after, .form-horizontal .form-group::before, .modal-footer::after, .modal-footer::before, .modal-header::after, .modal-header::before, .nav::after, .nav::before, .navbar-collapse::after, .navbar-collapse::before, .navbar-header::after, .navbar-header::before, .navbar::after, .navbar::before, .pager::after, .pager::before, .panel-body::after, .panel-body::before, .row::after, .row::before { display: table; content: " "; }
.btn-group-vertical > .btn-group::after, .btn-toolbar::after, .clearfix::after, .container-fluid::after, .container::after, .dl-horizontal dd::after, .form-horizontal .form-group::after, .modal-footer::after, .modal-header::after, .nav::after, .navbar-collapse::after, .navbar-header::after, .navbar::after, .pager::after, .panel-body::after, .row::after { clear: both; }
.pull-right { float: right ! important; }
.pull-left { float: left ! important; }
.visible-lg, .visible-md, .visible-sm, .visible-xs { display: none ! important; }
@media (max-width: 767px) {
  .visible-xs { display: block ! important; }
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm { display: block ! important; }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 767px) {
  .hidden-xs { display: none ! important; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm { display: none ! important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
.visible-print { display: none ! important; }
@media print {
  .visible-print { display: block ! important; }
}
@media print {
}
@media print {
}
@media print {
}
@media print {
  .hidden-print { display: none ! important; }
}
/* ::::: [internal] ::::: */

/* ::::: http://www.sbc.net/js/jquery-ui-1.12.1.custom/jquery-ui.min.css ::::: */

.ui-helper-hidden-accessible { border: 0px none; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; }
.ui-front { z-index: 100; }
.ui-autocomplete { position: absolute; top: 0px; left: 0px; cursor: default; }
.ui-menu { list-style: outside none none; padding: 0px; margin: 0px; display: block; outline: 0px none; }
/* ::::: http://www.sbc.net/css/mobile-menu.css ::::: */

#left-menu, #content-wrapper { float: left; }
#left-menu { max-width: 300px; width: 280px; display: none; color: rgb(255, 255, 255); padding: 0px; }
#left-menu .search { height: 37px; padding: 0px 10px 0px 0px; }
#left-menu .search input { width: 100%; height: 2.2em; box-sizing: border-box; border-radius: 4px; border: 1px solid rgb(15, 15, 15); box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1) inset, 0px 1px 0px rgb(85, 86, 88); background-color: rgba(0, 0, 0, 0.65); color: rgb(245, 245, 245); padding: 5px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
#left-menu .search input:-moz-placeholder { color: rgb(119, 119, 119); }
#left-menu .search input::-moz-placeholder { color: rgb(119, 119, 119); }
.wrapmenu { overflow-y: auto; overflow-x: hidden; }
#left-menu ul li { text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4); }
#content-wrapper { position: absolute; width: 100%; float: left; background-color: rgb(255, 255, 255); }
.menuArea { width: 100%; font-family: "proxima-nova","Trebuchet MS",Arial,Helvetica,sans-serif; font-size: 0.9em; text-decoration: none; }
.sbcMenuHeader { cursor: pointer; padding: 5px 0px 5px 10px; position: relative; display: block; margin: 0px; color: rgb(255, 255, 255); font-size: 1.2em; line-height: 1.5em; border-bottom: 1px solid rgba(255, 255, 255, 0.4); text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
.firstMenuItem { border-bottom: medium none; }
.sbcMenuHeader a { text-decoration: none; color: rgb(255, 255, 255); display: block; }
.sbcMenuContent { display: none; background-color: rgba(0, 0, 0, 0.2); }
.sbcMenuContent a { text-decoration: none; padding: 5px 0px 5px 10px; color: rgb(241, 241, 241); display: block; font-size: 1.2em; line-height: 1.5em; border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
.sbcMenuContent p { text-decoration: none; padding: 5px 0px 5px 10px; color: rgb(204, 204, 204); background-color: inherit; display: block; font-size: 1.2em; line-height: 1.5em; border-bottom: 1px solid rgb(57, 57, 57); margin: 0px; }
.sbcMenuContent .level3 { padding-left: 1.8em; background-color: rgba(0, 0, 0, 0.5); color: rgb(241, 241, 241); }
#sbcMenu .footer { margin: 5px 0px 0px; padding-left: 10px; background-color: inherit; font-size: 0.9em; color: rgba(255, 255, 255, 0.7); }
#sbcMenu .nav-tabs { border-bottom: 1px solid rgba(255, 255, 255, 0.5); background-color: rgba(0, 0, 0, 0.2); }
#sbcMenu .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { background-color: transparent; border-width: 1px; border-style: solid; border-color: rgb(89, 89, 89) rgb(89, 89, 89) transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(255, 255, 255); }
#sbcMenu .nav > li > a:hover, .nav > li > a:focus { background-color: rgba(255, 255, 255, 0.3); color: rgb(255, 255, 255); }
#sbcMenu .nav-tabs > li > a:hover { border-color: transparent; }
#myTab li a { color: rgb(187, 187, 187); background-color: rgba(0, 0, 0, 0.5); margin: 0px; padding: 5px 10px; font-size: 1.2em; }
#sbcMenu .nav-tabs > li { margin-bottom: 0px ! important; }
/* ::::: http://www.sbc.net/css/sbcnet.css?cache=032218 ::::: */

a { color: rgb(0, 51, 255); text-decoration: none; }
a:focus { outline: 0px none; border: medium none; }
hr { margin-top: 2em; margin-bottom: 2em; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(218, 226, 233) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.carousel-control { width: 100px; }
.carousel-control .icon-prev::before { content: url("left.png"); }
.carousel-control .icon-next::before { content: url("right.png"); }
.carousel-control.right, .carousel-control.left { background-image: none ! important; }
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right { left: 40px; }
.carousel-fade .carousel-inner .item { opacity: 0; transition-property: opacity; }
.carousel-fade .carousel-inner .active { opacity: 1; }
.carousel-fade .carousel-control { z-index: 2; }
.ui-widget-content { border: 1px solid rgb(221, 221, 221); background: rgb(243, 243, 243) none repeat scroll 0% 0% ! important; }
.fullwidth { width: 100%; }
#menulefttab { z-index: 99; cursor: pointer; top: 290px; position: absolute; max-width: 30px; }
#headerlogo { padding-top: 2px; float: left; }
#header #directory { color: rgb(221, 221, 221); font-size: 0.83em; padding-top: 5px; width: 250px; }
#header #directory a { color: rgb(221, 221, 221); text-decoration: none; }
#header #directory a:hover { text-decoration: underline; color: rgb(255, 255, 255); }
#header_search { margin-top: 10px; float: right; clear: right; }
#header_search input { color: rgb(255, 255, 255); background-color: rgb(57, 91, 124); border-radius: 5px; font-size: 0.9em; border: medium none; padding: 5px 5px 5px 10px; }
:-moz-placeholder { color: rgb(187, 195, 205); }
*::-moz-placeholder { color: rgb(187, 195, 205); }
#header .searchbutton { background-color: rgb(105, 158, 203); color: rgb(200, 216, 234); padding: 3px 10px; font-size: 0.9em; }
#header .searchbutton:hover { color: rgb(255, 255, 255); background-color: rgb(252, 117, 27); }
#header .nav { padding-top: 0px; clear: both; color: rgb(221, 221, 221); }
#header .nav div { padding: 0px; margin: 0px; float: left; }
#header .nav div a { font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 1.1em; text-shadow: 1px 1px rgb(34, 34, 34); padding: 10px 16px; text-decoration: none; display: block; color: rgb(231, 231, 231); }
#header .nav div a:hover { color: rgb(255, 255, 255); transition: background-color 0.2s ease-in-out 0s; }
.rounded-corners10 { border-radius: 10px; }
.slidingPanelMargins { margin: 0.5em; padding: 10px 20px 0px; }
.slidingPanel { background-color: rgb(68, 68, 68); color: rgb(221, 221, 221); font-size: 0.9em; width: 100%; padding-top: 5px; }
.slidingPanel h1 { font-size: 1.1em; line-height: 1.3em; margin-top: 12px; margin-bottom: 3px; color: rgb(255, 255, 255); text-transform: uppercase; }
.slidingPanel p { font-size: 0.96em; }
.slidingPanel img { padding: 5px; border: 1px solid rgb(119, 119, 119); margin-right: 10px; margin-bottom: 2px; }
.slidingPanel div div { margin-bottom: 20px; }
.slidingPanel hr { background: rgb(102, 102, 102) none repeat scroll 0% 0%; height: 1px; border: 0px none; margin-top: 10px; margin-bottom: 10px; }
.slidingPanel ul { list-style: outside none none; padding: 0px; }
.slidingPanel li { font-size: 1.08em; }
.slidingPanel a { color: rgb(113, 205, 243); text-shadow: 1px 1px rgba(10, 10, 10, 0.3); }
.slidingPanel a:hover { color: rgb(253, 194, 34); text-decoration: underline; }
.slidingPanel .bpstories ul { list-style: outside none square; padding: 0px; margin-bottom: 20px; }
.slidingPanel .bpstories li { margin-left: 15px; }
#breadcrumb { margin-left: 0px; height: 32px; color: rgb(241, 241, 241); opacity: 0.85; padding: 7px 0px 5px; font-size: 0.82em; font-family: "verdana",Arial,"omnes-pro","Helvetica Neue",Helvetica,sans-serif; }
#breadcrumb a { text-decoration: none; color: rgb(255, 255, 255); opacity: 0.85; }
#breadcrumb a:hover { text-decoration: underline; opacity: 1; }
#headermenubar a { cursor: pointer; }
#content-wrapper { overflow: auto; }
.maincontent { padding-bottom: 5em; font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 1.1em; }
.maincontent a { color: rgb(14, 137, 206); }
.maincontent a:hover { color: rgb(252, 117, 27); text-decoration: none; }
.bibledevotion { margin-top: 0em; margin-bottom: 1em; }
.bibleverse { font-style: italic; font-size: 0.95em; line-height: 1.25em; }
.promo-cell { clear: left; margin-bottom: 1.4em; padding: 10px; border-radius: 6px; overflow: auto; border: 1px solid rgb(238, 238, 238); box-shadow: 2px 2px 5px rgb(238, 238, 238); }
.rowcolor { background-color: inherit; }
.promo-cell h3 { font-size: 1.3em; color: rgb(14, 137, 206); margin-top: 0px; margin-bottom: 0.3em; line-height: 1.2em; }
.promo-cell h3 a { color: inherit; }
.promo-photos { float: left; }
#bpnews-section, #sbclife-section, #missioanrymoments { margin-top: 8px; font-size: 0.9em; }
#bpnews-section ul, #sbclife-section ul { list-style: outside none none; margin: 0px; padding: 0px; }
#bpnews-section .bp-mainphoto, #sbclife-section .sbclife-mainphoto { margin-top: 10px; margin-bottom: 12px; max-height: 250px; overflow: hidden; border-radius: 6px; }
#bpnews-section h1, #sbclife-section h1 { font-size: 1.6em; padding: 0px; margin: 0px 0px 5px; }
.jobspanel {  }
#jobs-section .jobsmap { float: left; padding: 10px 10px 10px 0px; border: 4px solid rgb(221, 221, 221); }
#jobs-section {  }
#jobs-section h3 { margin-bottom: 1.1em; }
#jobs-section table { margin-top: 10px; color: rgb(170, 170, 170); }
#jobs-section .jobslisting { padding-top: 10px; }
#jobs-section .jobslisting td { line-height: 1.12em; }
#jobs-section .jobslisting strong { color: rgb(165, 165, 165); }
#jobs-section .jobslisting small { color: rgb(165, 165, 165); }
#jobs-section .jobslisting small a { color: rgb(177, 167, 156); }
#jobs-section .jobslisting small a:hover { color: rgb(252, 117, 27); text-decoration: none; }
#jobs-section .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {  }
#jobs-section .table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {  }
#jobs-section .table td {  }
#churchsearch-section { clear: left; padding-top: 10px; }
#churchsearch-section h3 { margin-bottom: 1.1em; }
#churchsearch-section input { margin-bottom: 10px; }
#churchsearch-section button { background-color: rgb(105, 158, 203); border-color: rgb(105, 158, 203); margin-right: 10px; }
#churchsearch-section button:hover { background-color: rgb(252, 117, 27); border-color: rgb(252, 117, 27); }
#churchsearch-section label { font-weight: normal; font-size: 0.9em; }
#churchsearch-section #latestchurchupdates { clear: left; padding-left: 0px; padding-right: 0px; }
#cs-proximitysearch, #cs-quicksearch { height: 140px; padding: 0px; }
#cs-proximitysearch input, #cs-quicksearch input { margin-bottom: 10px; }
#cs-proximitysearch button, #cs-quicksearch button { background-color: rgb(105, 158, 203); border-color: rgb(105, 158, 203); margin-right: 20px; }
#cs-proximitysearch button:hover, #cs-quicksearch button:hover { background-color: rgb(252, 117, 27); border-color: rgb(252, 117, 27); }
#cs-proximitysearch label, #cs-quicksearch label { font-weight: normal; font-size: 0.9em; }
#cs-proximitysearch { display: none; }
#latestchurchupdates .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td { border-bottom: 1px solid rgb(221, 221, 221); }
#featuredchurch .title { font-weight: bold; margin-top: -4px; padding-bottom: 4px; }
#devotions-panel blockquote { padding: 0px; font-size: 1em; border-left: medium none; }
.footer { width: 100%; }
.footer .termsofuse a { color: inherit; }
.footercolorbar { border-top: 3px solid rgb(221, 221, 221); height: 30px; color: rgb(221, 221, 221); padding: 6px 0px 5px; }
.footercontent { background-color: rgb(5, 59, 110); color: rgb(175, 192, 208); height: auto; min-height: 10em; padding-top: 1.5em; padding-bottom: 1.5em; }
.footercopyright { font-family: "omnes-pro",sans-serif; color: rgb(175, 192, 208); font-size: 0.9em; background-color: rgb(5, 59, 110); padding-top: 1.5em; padding-bottom: 1.5em; height: auto; }
.footerpanel { font-family: "omnes-pro",sans-serif; font-size: 1em; border-top: 1px solid rgb(25, 25, 25); background-color: rgb(34, 34, 34); height: auto; color: rgb(183, 183, 183); padding-top: 2.5em; padding-bottom: 2.9em; }
.footerpanel .sbcnetwork { font-size: 1.2em; margin-bottom: 1em; margin-left: 10px; text-shadow: 1px 1px 2px rgb(51, 51, 51); color: rgb(199, 199, 199); }
.footerpanel .column { width: 25em; padding: 5px; margin-right: 1em; margin-bottom: -7px; float: left; }
.footerpanel .column ul { list-style: outside none none; padding: 0px; margin: 0px; }
.footerpanel .column ul li { height: 2.1em; padding-left: 45px; background-repeat: no-repeat; }
.footerpanel .column ul li a { text-decoration: none; color: inherit; display: block; }
.footerpanel .column ul li a:hover { color: rgb(255, 255, 255); }
.footerpanel #namb { background-image: url("namb.png"); }
.footerpanel #imb { background-image: url("imb.png"); }
.footerpanel #lifeway { background-image: url("lifeway.png"); }
.footerpanel #erlc { background-image: url("erlc.png"); }
.footerpanel #guidestone { background-image: url("guidestone.png"); }
.footerpanel #sbcec { background-image: url("sbcec.png"); }
.footerpanel #bpnews { background-image: url("bpnews.png"); }
.footerpanel #sbclife { background-image: url("sbclife.png"); }
.footerpanel #sbfoundation { background-image: url("sbfoundation.png"); }
.footerpanel #cp { background-image: url("cp.png"); }
.footerpanel #historical { background-image: url("historical.png"); }
.footerpanel #wmu { background-image: url("wmu.png"); }
.footerpanel #ggbts { background-image: url("ggbts.png"); }
.footerpanel #mbts { background-image: url("mbts.png"); }
.footerpanel #nobts { background-image: url("nobts.png"); }
.footerpanel #sebts { background-image: url("sebts.png"); }
.footerpanel #sbts { background-image: url("sbts.png"); }
.footerpanel #swbts { background-image: url("swbts.png"); }
#google_translate_element .goog-te-gadget-simple { background-color: inherit ! important; border-width: 0px; border-style: none; border-color: -moz-use-text-color; font-size: 1.1em; display: inline-block; padding-top: 0px; padding-bottom: 0px; cursor: pointer; }
#google_translate_element .goog-te-gadget-icon { margin-left: 0px; margin-right: 0px; width: 0px; height: 0px; border: medium none; vertical-align: middle; }
#google_translate_element .goog-te-gadget-simple .goog-te-menu-value span { text-decoration: none; border-left-color: transparent ! important; }
/* ::::: http://www.sbc.net/css/sbcnet-media.css?cache=032218 ::::: */

#header { height: 77px; background-image: url("header_bkgd.png"); background-repeat: repeat-x; }
#headerlogo { padding: 5px; float: left; }
.promo-text { padding-top: 10px; padding-left: 0px; clear: left; }
#cs-proximitysearch { margin-bottom: 140px; }
#cs-quicksearch { margin-bottom: 30px; }
#churchsearch-section button { margin-left: 0px; }
#churchsearch-section #featuredchurch { padding-left: 0px; padding-right: 0px; padding-top: 10px; }
.termsofuse { text-align: left; margin-top: 0px; }
.footerpanel .container { padding-left: 0px; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { position: relative; min-height: 1px; padding-right: 8px; padding-left: 8px; }
@media (min-width: 768px) {
  .container { max-width: 100%; }
  #header { height: 118px; background-image: url("header_bkgd.png"); background-repeat: repeat-x; }
  .promo-text { padding-top: 0px; padding-left: 290px; padding-right: 16px; clear: none; }
  .jobsmap { margin-right: 0px; margin-top: 10px; margin-bottom: 20px; border: 1px solid rgb(192, 192, 192); width: 100%; height: 500px; z-index: 99; }
  #churchsearch-section button { margin-left: -10px; }
  #cs-proximitysearch, #cs-quicksearch { margin-bottom: 20px; }
  #churchsearch-section #featuredchurch { padding-left: 0px; }
  #churchsearch-section #featuredchurch img { width: 300px; float: left; padding-right: 10px; }
  #churchsearch-section #featuredchurch h4 { margin-top: 0px; }
  .footerpanel .container { padding-left: 50px; }
  .termsofuse { text-align: right; margin-top: 15px; }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
}
@media (min-width: 992px) {
  .container { max-width: 100%; }
  #jobs-section .jobsmap { float: left; padding: 10px 10px 10px 0px; }
  .jobsmap { margin-right: 30px; margin-top: 10px; border: 1px solid rgb(192, 192, 192); width: 60%; height: 500px; z-index: 99; }
  #churchsearch-section #featuredchurch { padding-left: 20px; }
  #churchsearch-section #featuredchurch img { width: 100%; margin-bottom: 10px; }
  #featuredchurch h4 { margin-top: 120px; }
}
@media (min-width: 1200px) {
  .container { max-width: 1190px; }
}
@media print {
  .container { width: 100%; }
  a[href]::after { content: none; }
  #menulefttab { display: none; }
  #breadcrumb { display: none; }
  .termsofuse { text-align: right; font-size: 0.9em; }
  #footerlogo { display: none; }
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-12 { width: 100%; }
  .col-sm-7 { width: 58.3333%; }
  .col-sm-6 { width: 50%; }
  .col-sm-5 { width: 41.6667%; }
  .col-sm-4 { width: 33.3333%; }
  .col-sm-3 { width: 25%; }
  .col-sm-2 { width: 16.6667%; }
  .visible-xs { display: none ! important; }
  .hidden-xs { display: block ! important; }
  .hidden-xs.hidden-print { display: none ! important; }
  .hidden-sm { display: none ! important; }
  .visible-sm { display: block ! important; }
}
/* ::::: https://translate.googleapis.com/translate_static/css/translateelement.css ::::: */

.goog-te-banner-frame { left: 0px; top: 0px; height: 39px; width: 100%; z-index: 10000001; position: fixed; border-width: medium medium 1px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(107, 144, 218); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin: 0px; box-shadow: 0px 0px 8px 1px rgb(153, 153, 153); }
.goog-te-menu-frame { z-index: 10000002; position: fixed; border: medium none; box-shadow: 0px 3px 8px 2px rgb(153, 153, 153); }
.goog-te-gadget { font-family: arial; font-size: 11px; color: rgb(102, 102, 102); white-space: nowrap; }
.goog-te-gadget img { vertical-align: middle; border: medium none; }
.goog-te-gadget-simple { background-color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(155, 155, 155) rgb(213, 213, 213) rgb(232, 232, 232); font-size: 10pt; display: inline-block; padding-top: 1px; padding-bottom: 2px; cursor: pointer; }
.goog-te-gadget-icon { margin-left: 2px; margin-right: 2px; width: 19px; height: 19px; border: medium none; vertical-align: middle; }
.goog-te-menu-value { text-decoration: none; color: rgb(0, 0, 204); white-space: nowrap; margin-left: 4px; margin-right: 4px; }
.goog-te-menu-value span { text-decoration: underline; }
.goog-te-menu-value img { margin-left: 2px; margin-right: 2px; }
.goog-te-gadget-simple .goog-te-menu-value { color: rgb(0, 0, 0); }
.goog-te-gadget-simple .goog-te-menu-value span { text-decoration: none; }
.goog-te-spinner-pos { z-index: 1000; position: fixed; transition-delay: 0.6s; left: -1000px; top: -1000px; }
.goog-te-spinner-animation { display: flex; align-items: center; justify-content: center; width: 104px; height: 104px; border-radius: 50px; background: rgb(255, 255, 255) url("translate_24dp_001.png") no-repeat scroll 50% 50%; transition: all 0.6s ease-in-out 0s; transform: scale(0.4); opacity: 0; }
.goog-te-spinner { margin: 2px 0px 0px 2px; animation: 1.4s linear 0s normal none infinite running goog-te-spinner-rotator; }
@keyframes goog-te-spinner-rotator {
0% { transform: rotate(0deg); }
100% { transform: rotate(270deg); }
}
.goog-te-spinner-path { stroke-dasharray: 187; stroke-dashoffset: 0; stroke: rgb(66, 133, 244); transform-origin: center center 0px; animation: 1.4s ease-in-out 0s normal none infinite running goog-te-spinner-dash; }
@keyframes goog-te-spinner-dash {
0% { stroke-dashoffset: 187; }
50% { stroke-dashoffset: 46.75; transform: rotate(135deg); }
100% { stroke-dashoffset: 187; transform: rotate(450deg); }
}
#goog-gt-tt html, #goog-gt-tt body, #goog-gt-tt div, #goog-gt-tt span, #goog-gt-tt iframe, #goog-gt-tt h1, #goog-gt-tt h2, #goog-gt-tt h3, #goog-gt-tt h4, #goog-gt-tt h5, #goog-gt-tt h6, #goog-gt-tt p, #goog-gt-tt a, #goog-gt-tt img, #goog-gt-tt ol, #goog-gt-tt ul, #goog-gt-tt li, #goog-gt-tt table, #goog-gt-tt form, #goog-gt-tt tbody, #goog-gt-tt tr, #goog-gt-tt td { margin: 0px; padding: 0px; border: 0px none; font-family: inherit; font-style: inherit; font-weight: inherit; font-size: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-synthesis: inherit; font-variant: inherit; vertical-align: baseline; text-align: left; line-height: normal; }
div#goog-gt-tt { padding: 10px 14px; }
#goog-gt-tt { color: rgb(34, 34, 34); background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2); display: none; font-family: arial; font-size: 10pt; width: 420px; padding: 12px; position: absolute; z-index: 10000; }
#goog-gt-tt .original-text, .gt-hl-layer { clear: both; font-size: 10pt; position: relative; text-align: justify; width: 100%; }
#goog-gt-tt .title { color: rgb(153, 153, 153); font-family: arial,sans-serif; margin: 4px 0px; text-align: left; }
#goog-gt-tt .logo { float: left; margin: 0px; }
#goog-gt-tt .activity-links { display: inline-block; }
#goog-gt-tt .started-activity-container { display: none; width: 100%; }
#goog-gt-tt .activity-root { margin-top: 20px; }
#goog-gt-tt .bottom { min-height: 15px; position: relative; height: 1%; }
#goog-gt-tt .status-message { background: rgb(41, 145, 13) none repeat scroll 0% 0%; border-radius: 4px; box-shadow: 0px 2px 2px rgb(30, 102, 9) inset; color: white; font-size: 9pt; font-weight: bolder; margin-top: 12px; padding: 6px; text-shadow: 1px 1px 1px rgb(30, 102, 9); }
#goog-gt-tt .activity-link { color: rgb(17, 85, 204); cursor: pointer; font-family: arial; font-size: 11px; margin-right: 15px; text-decoration: none; }
#goog-gt-tt .gray { color: rgb(153, 153, 153); font-family: arial,sans-serif; }
#goog-gt-tt span:focus { outline: medium none; }
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

@font-face {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 700;
  src: url("l.dat") format("woff2"), url("d.dat") format("woff"), url("a.dat") format("opentype");
}
@font-face {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 400;
  src: url("l_001.dat") format("woff2"), url("d_001.dat") format("woff"), url("a_001.dat") format("opentype");
}
@font-face {
  font-family: "proxima-nova";
  font-style: italic;
  font-weight: 300;
  src: url("l_002.dat") format("woff2"), url("d_002.dat") format("woff"), url("a_002.dat") format("opentype");
}
@font-face {
  font-family: "omnes-pro";
  font-style: normal;
  font-weight: 400;
  src: url("l_003.dat") format("woff2"), url("d_003.dat") format("woff"), url("a_003.dat") format("opentype");
}
