/* ::::: http://www.wcoomd.org/styles/WCO/CSSBundles/styles.min.css ::::: */

.languageSelector input { display: none; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
fieldset, img { border: 0px none; vertical-align: top; }
li { list-style: outside none none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }
:focus { outline: 0px none; }
.aural { background: transparent none repeat scroll 0% 0%; color: rgb(0, 0, 0); display: inline; height: 0px; left: -9999px; overflow: hidden; position: absolute; top: -10000px; width: 0px; }
.clearfix::after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.clearfix { display: inline-block; }
.clearThis { clear: both; float: none; display: inline-block; }
.row { display: block; float: none; overflow: hidden; }
html { height: 100%; font-family: Arial,sans-serif; font-size: 100.01%; }
body { background: rgb(210, 227, 240) url("bg_main_wrapper.png") repeat-x scroll left top; color: rgb(69, 75, 80); font: 0.813em/1.5em Arial,sans-serif; text-align: left; }
h1 { font-size: 1.846em; line-height: 1.2em; margin: 0px 0px 10px; }
h2 { margin: 0px 0px 10px; padding-bottom: 0px; font-weight: bold; font-size: 1.385em; }
.module { float: left; }
a, a:link, a:visited, a:active, a:hover, a:focus { color: rgb(0, 110, 186); text-decoration: none; font-weight: bold; cursor: pointer; }
a:hover, a:focus, a:hover span, a:focus span { text-decoration: underline; color: rgb(0, 110, 186); }
.loginBox a:hover, .loginBox a:focus, .loginBox a:hover span, .loginBox a:focus span { color: rgb(255, 255, 255); }
.loginPanel { display: block; }
.iconHeadline { background: rgb(230, 233, 235) url("icon_titles_sprite.png") no-repeat scroll right top; font-size: 1.077em; font-weight: bold; height: 48px; line-height: 48px; width: 100%; }
.iconHeadline span { padding-left: 10px; }
.iconHeadline.iconWCO { background-position: right -192px; }
input[type="text"], input[type="password"], select, textarea { background: rgb(249, 250, 250) url("bg_input_small.png") repeat-x scroll 0px 0px; border: 1px solid rgb(161, 166, 169); padding: 2px; }
select option { margin: 3px 0px; }
label { text-transform: uppercase; padding-right: 15px; }
input[type="checkbox"] { margin-right: 5px; vertical-align: middle; }
input[type="checkbox"] + label { position: relative; top: 1px; text-transform: none; }
.requiredFieldValidator { display: none; }
.bg_helper { background: transparent url("bg_page_top.png") no-repeat scroll left top; display: block; height: 8px; left: 0px; position: absolute; top: -8px; width: 100%; z-index: 1; }
#page_wrapper { background: transparent url("bg_page.png") repeat scroll left top; margin: 25px 0px 40px 90px; padding: 0px 8px; position: relative; width: 976px; }
#mainpage { background-color: rgb(255, 255, 255); position: relative; top: -8px; width: 976px; z-index: 2; }
#headerWrapper, #mainWrapper, #footerWrapper { background-color: rgb(255, 255, 255); }
#mainWrapper { z-index: -1; position: relative; }
#headerWrapper { padding: 20px 20px 0px; }
#header { position: relative; }
#mainWrapper { background: rgb(255, 255, 255) url("bg_border_main.png") no-repeat scroll 21px top; }
#main { background: transparent url("bg_border.png") repeat-y scroll 268px 1px; display: block; margin: 0px auto; }
#footer { display: block; margin: 0px auto; }
#leftCol { width: 286px; float: left; }
.container, .windchill { margin: 10px; padding: 10px; border: 6px solid rgb(230, 233, 235); position: relative; overflow: hidden; }
.container.noBorder { border: medium none; }
.module.fullWidth { width: 100%; }
.columns-L-and-C #leftCol .container { margin-left: 20px; margin-right: 37px; }
#logo { padding: 5px 0px; }
#search { position: absolute; top: 63px; right: 20px; height: 1.5em; white-space: nowrap; }
#search input.keywords { background: transparent url("bg_search.png") no-repeat scroll left top; float: left; height: 32px; line-height: 32px; vertical-align: middle; border: medium none; padding: 0px 10px; width: 16.1em; font-size: 1.231em; }
#metanavigation { position: absolute; top: 20px; right: 20px; }
#metanavigation .languageSelector { vertical-align: top; margin-right: 15px; display: inline; }
#metanavigation .languageSelector .jqTransformSelectWrapper { margin-right: 15px; }
.languageSelector select { border-radius: 10px; font-size: 0.846em; margin-top: 0px; height: 23px; padding: 0px 15px; }
#servicemenue { display: inline-block; color: rgb(91, 99, 105); background-color: rgb(230, 233, 235); font-size: 0.846em; padding: 2px 12px; vertical-align: top; }
#servicemenue li { float: left; }
#servicemenue .separator { padding: 0px 12px; }
#servicemenue a { color: rgb(69, 75, 80); font-weight: normal; }
#servicemenue a:hover, #servicemenue a:hover { text-decoration: underline; }
.bannerWrapper { padding: 10px 20px; }
#mainMenu { background: rgb(143, 147, 150) url("bg_navi.png") no-repeat scroll left top; width: 962px; padding-left: 32px; min-height: 57px; position: relative; margin: 20px 0px 0px -38px; font-size: 0.923em; }
#mainMenu .menuNav { border: medium none; float: left; margin: 0px; width: auto; padding-right: 0px; }
#mainMenu .menuNav li { background-color: transparent; margin: 0px 1px; color: rgb(255, 255, 255); float: left; width: auto; }
#mainMenu .menuNav li a span { color: rgb(255, 255, 255); padding: 0px 20px; line-height: 40px; text-transform: uppercase; font-weight: bold; }
#mainMenu .menuNav li.selected a span, #mainMenu .menuNav li.active a span, #mainMenu .menuNav li:hover a span { position: relative; top: -12px; }
#mainMenu .menuNav li.home_item { margin-right: 30px; }
#mainMenu .menuNav li.home_item a { background: transparent url("icon_home_item.png") no-repeat scroll left top; width: 30px; height: 40px; }
#mainMenu .menuNav li.home_item a span { text-indent: -9999px; display: inline-block; }
#mainMenu .menuNav li.home_item.selected, #mainMenu .menuNav li.home_item:hover, #mainMenu .menuNav li.home_item.active { background-color: transparent; }
#mainMenu .menuNav li.home_item.selected a span, #mainMenu .menuNav li.home_item.active a span, #mainMenu .menuNav li.home_item:hover a span { position: relative; top: 0px; }
#mainMenu .menuNav li.home_item.selected a, #mainMenu .menuNav li.home_item:hover a, #mainMenu .menuNav li.home_item.active a { background: transparent url("icon_home_item_hover.png") no-repeat scroll left top; color: inherit; bottom: 0px; position: relative; z-index: 1000; }
#mainMenu .menuNav li.selected, #mainMenu .menuNav li:hover, #mainMenu .menuNav li.active { background-color: rgb(230, 233, 235); }
#mainMenu .menuNav li a { display: block; height: 100%; }
#mainMenu .menuNav li.selected a, #mainMenu .menuNav li:hover a, #mainMenu .menuNav li.active a { background: transparent url("bg_main_menu_active.png") no-repeat scroll center bottom; color: rgb(69, 75, 80); bottom: -12px; position: relative; z-index: 1000; }
#mainMenu .menuNav li.active a, #mainMenu .menuNav li.active a span, #mainMenu .menuNav li:hover a, #mainMenu .menuNav li:hover a span, #mainMenu .menuNav li a:hover, #mainMenu .menuNav li a:hover span, #mainMenu .menuNav li.selected a, #mainMenu .menuNav li.selected a span, #mainMenu .menuNav li.selected a:hover, #mainMenu .menuNav li.selected a:hover span { text-decoration: none; border: medium none; color: rgb(69, 75, 80); }
#mainMenu .menuNav li .SubMenuNav { background-color: rgb(0, 110, 186); border: medium none; display: block; left: -5000px; margin-left: 10px; width: 976px; padding: 0px 8px 8px; position: absolute; top: 46px; z-index: 999; }
#mainMenu .menuNav li:hover .SubMenuNav { left: 0px; }
#mainMenu .menuNav li .SubMenuNav .SubMenuNavWrapper { border-bottom: 1px solid rgb(0, 110, 186); }
#mainMenu .menuNav li ul.SubMenuNavBlock { width: auto; height: auto; display: inline-block; overflow: hidden; background: transparent url("bg_main_menu.png") repeat-y scroll left top; padding-left: 1px; }
#mainMenu .menuNav li ul.SubMenuNavBlock li { float: left; margin: 0px; padding: 0px 0px 8px; width: 195px; text-transform: uppercase; }
#mainMenu .menuNav li ul.SubMenuNavBlock li:hover, #mainMenu .menuNav li ul.SubMenuNavBlock li.active { background: transparent none repeat scroll 0% 0%; }
#mainMenu .menuNav li ul.SubMenuNavBlock li a, #mainMenu .menuNav li ul.SubMenuNavBlock li.current strong { display: block; padding: 10px 10px 2px 13px; font-weight: bold; text-align: left; line-height: 1.3em; color: rgb(69, 75, 80); background: transparent none repeat scroll 0% 0%; bottom: 0px; left: 0px; }
#mainMenu .menuNav li ul.SubMenuNavBlock li a:hover, #mainMenu .menuNav li ul.SubMenuNavBlock li a:hover span, #mainMenu .menuNav li ul.SubMenuNavBlock li a:focus, #mainMenu .menuNav li ul.SubMenuNavBlock li a:focus span { color: rgb(0, 113, 185); text-decoration: underline; }
#mainMenu .menuNav li ul.SubMenuNavBlock li ul li, #mainMenu .menuNav li ul.SubMenuNavBlock li ul li:hover, #mainMenu .menuNav li ul.SubMenuNavBlock li ul li.active { float: none; width: auto; background: transparent url("bg_liststyle_blue.png") no-repeat scroll left 8px; list-style-position: outside; margin-left: 14px; padding: 0px 0px 0px 7px; }
#mainMenu .menuNav li ul.SubMenuNavBlock li ul li a, #mainMenu .menuNav li ul.SubMenuNavBlock li ul li.current strong { text-transform: none; font-weight: normal; padding: 2px 10px 2px 5px; }
#mainMenu .menuNav li ul.SubMenuNavBlock.SubMenuFooterBlock { background: transparent url("bg_main_menu_footer.png") repeat-y scroll left top; }
#mainMenu .menuNav li ul.SubMenuNavBlock.SubMenuFooterBlock li a { color: rgb(0, 113, 185); font-size: 1.167em; padding-left: 20px; padding-bottom: 0px; }
#mainMenu .menuNav li ul.SubMenuNavBlock.SubMenuFooterBlock li p { text-transform: none; color: rgb(51, 51, 51); padding-left: 20px; font-size: 0.917em; }
.columns-L-and-C #leftCol .container.subMenuContainer { margin-right: 0px; }
#subMenu { width: auto; }
#subMenu .menuNav { margin: 0px; padding: 0px; }
#subMenu .menuNav li { display: inline-block; margin-bottom: 8px; padding-right: 6px; width: 238px; }
#subMenu .menuNav li a:hover, #subMenu .menuNav li strong { color: rgb(0, 110, 186); }
#subMenu .menuNav a, #subMenu .menuNav strong { text-transform: uppercase; font-weight: bold; color: rgb(69, 75, 80); padding-bottom: 8px; display: block; }
.navBreadcrumbs { margin: 0px 20px 10px; }
.navBreadcrumbs p { font-style: italic; font-size: 0.846em; }
.navBreadcrumbs span { padding-right: 5px; display: inline-block; }
.navBreadcrumbs span.separator { padding: 0px 5px; background: transparent url("bg_separator.png") no-repeat scroll center 7px; height: 20px; width: 4px; }
.navBreadcrumbs a { font-weight: bold; color: rgb(0, 113, 185); }
.navBreadcrumbs a:hover { text-decoration: underline; }
#footer .navBreadcrumbs { padding: 10px 0px 10px 10px; border-bottom: 1px dotted rgb(162, 165, 167); border-top: 1px dotted rgb(162, 165, 167); display: block; }
.container p { margin-bottom: 8px; }
.footerGeneralWrapper { position: absolute; bottom: -35px; left: 34px; }
#footer { position: relative; }
#footerGeneral { font-size: 0.846em; color: rgb(102, 102, 102); }
#footerService { padding: 10px 0px 20px; }
#footerService h2 { margin-bottom: 0px; }
#footerService h2 > span { background: rgb(230, 233, 235) url("icon_titles_sprite.png") no-repeat scroll left -480px; display: inline-block; line-height: 48px; padding-left: 48px; }
#footerService .container { margin: 0px 20px; }
#footerService .container p { color: rgb(51, 51, 51); font-size: 0.846em; line-height: 1.3em; margin-top: 3px; }
#footerService li { background-color: rgb(247, 248, 249); width: 124px; margin-right: 8px; margin-top: 10px; height: 74px; float: left; display: inline-block; padding: 8px 10px; position: relative; overflow: hidden; }
#footerService li.last { margin-right: 0px; }
#footerService li a { text-transform: uppercase; color: rgb(0, 113, 185); font-weight: bold; font-size: 1.077em; }
#footerService li a:hover { text-decoration: underline; }
#footerService li .ext-link a { background: transparent url("icon_next_blue.png") no-repeat scroll left top; bottom: 5px; height: 15px; position: absolute; right: 5px; text-indent: -9999px; width: 25px; }
#footerService li .ext-link a:hover { background: transparent url("icon_next_blue.png") no-repeat scroll left bottom; }
#fancybox-loading { position: fixed; top: 50%; left: 50%; width: 40px; height: 40px; margin-top: -20px; margin-left: -20px; cursor: pointer; overflow: hidden; z-index: 1104; display: none; }
#fancybox-loading div { position: absolute; top: 0px; left: 0px; width: 40px; height: 480px; background-image: url("gallery_loading.png"); }
#fancybox-overlay { position: absolute; top: 0px; left: 0px; width: 100%; z-index: 1100; display: none; }
#fancybox-tmp { padding: 0px; margin: 0px; border: 0px none; overflow: auto; display: none; }
#fancybox-wrap { position: absolute; top: 0px; left: 0px; padding: 0px 20px; z-index: 1101; outline: medium none; display: none; }
#fancybox-outer { position: relative; width: 100%; height: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#fancybox-content { width: 0px; height: 0px; padding: 0px; outline: medium none; position: relative; overflow: hidden; z-index: 1102; border: 0px solid rgb(230, 233, 235); }
#fancybox-close { position: absolute; top: -30px; right: -42px; width: 12px; height: 12px; background: transparent url("button_close.png") no-repeat scroll 0px 0px; cursor: pointer; z-index: 1103; display: none; }
#fancybox-left, #fancybox-right { position: absolute; bottom: 0px; height: 100%; width: 35%; cursor: pointer; outline: medium none; background: transparent none repeat scroll 0% 0%; z-index: 1102; display: none; }
#fancybox-left { left: 0px; }
#fancybox-right { right: 0px; }
#fancybox-left-ico, #fancybox-right-ico { background-repeat: no-repeat; position: absolute; top: 50%; width: 45px; height: 44px; margin-top: -15px; cursor: pointer; z-index: 1102; display: block; visibility: visible; }
#fancybox-left-ico { background-image: url("gallery_lightbox_prev.png"); left: -60px; }
#fancybox-right-ico { background-image: url("gallery_lightbox_next.png"); left: auto; right: -60px; }
.fancybox-bg { position: absolute; padding: 0px; margin: 0px; border: 0px none; width: 13px; height: 13px; z-index: 1001; background-repeat: no-repeat; }
#fancybox-bg-n { top: -13px; left: 0px; width: 100%; background-image: url("gallery_lightbox_shadow_n.png"); background-repeat: repeat-x; }
#fancybox-bg-ne { top: -13px; right: -13px; background-image: url("gallery_lightbox_shadow_ne.png"); }
#fancybox-bg-e { top: 0px; right: -13px; height: 100%; background-image: url("gallery_lightbox_shadow_e.png"); background-repeat: repeat-y; }
#fancybox-bg-se { bottom: -13px; right: -13px; background-image: url("gallery_lightbox_shadow_se.png"); }
#fancybox-bg-s { bottom: -13px; left: 0px; width: 100%; background-image: url("gallery_lightbox_shadow_s.png"); background-repeat: repeat-x; }
#fancybox-bg-sw { bottom: -13px; left: -13px; background-image: url("gallery_lightbox_shadow_sw.png"); background-position: right top; }
#fancybox-bg-w { top: 0px; left: -13px; height: 100%; background-image: url("gallery_lightbox_shadow_w.png"); background-position: right top; background-repeat: repeat-y; }
#fancybox-bg-nw { top: -13px; left: -13px; background-image: url("gallery_lightbox_shadow_nw.png"); background-position: right top; }
#fancybox-title { margin-top: 8px; z-index: 1102; }
.jqTransformSelectWrapper { margin-left: -2px; margin-bottom: 5px; position: relative; height: 24px; background: transparent url("bg_select_left.png") no-repeat scroll 0px 0px; border: 1px solid rgb(255, 255, 255); float: left; }
.jqTransformSelectWrapper div span { font-size: 0.846em; float: none; position: absolute; white-space: nowrap; height: 18px; line-height: 14px; padding: 5px 0px 0px 12px; overflow: hidden; cursor: pointer; }
.jqTransformSelectWrapper a.jqTransformSelectOpen { display: block; position: absolute; right: 0px; width: 21px; height: 24px; background: rgb(255, 255, 255) url("bg_select_right.png") no-repeat scroll center center; }
.jqTransformSelectWrapper ul { position: absolute; width: 43px; top: 26px; left: 0px; list-style: outside none none; background-color: rgb(255, 255, 255); border: 1px solid rgb(192, 194, 196); display: none; margin: 0px; padding: 0px; overflow: auto; z-index: 10; height: auto ! important; }
.jqTransformSelectWrapper ul li { border-bottom: 1px solid rgb(230, 233, 235); margin: 5px; padding: 0px; clear: none; float: none; background-color: rgb(255, 255, 255); }
.jqTransformSelectWrapper ul li:last-child { border: medium none; }
.jqTransformSelectWrapper ul a { font-size: 0.846em; display: block; padding: 3px 5px; text-decoration: none; background-color: rgb(255, 255, 255); font-weight: normal; color: rgb(0, 110, 186); }
.jqTransformSelectWrapper ul a.selected { background: rgb(0, 110, 186) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover { background: rgb(0, 110, 186) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.jqTransformHidden { display: none; }
.scfForm .scfDateSelectorGeneralPanel label, .loginPage label { margin-bottom: 5px; }
.loginPage .form { padding: 10px 0px; }
.loginPage label { width: 30%; text-align: right; display: inline-block; padding-right: 11px; }
.loginPage input[type="text"], .loginPage input[type="password"] { width: 60%; }
.loginPage li.noLabel label { width: 90%; text-align: left; position: relative; top: 2px; }
.loginPage input[type="submit"] { border-radius: 8px; color: rgb(0, 0, 0); background: transparent linear-gradient(to bottom, rgb(255, 255, 255) 1%, rgb(255, 255, 255) 50%, rgb(230, 233, 235) 50%, rgb(230, 233, 235) 100%) repeat scroll 0% 0%; border: 1px solid rgb(213, 217, 219); margin: 20px 0px; padding: 6px 30px; position: relative; cursor: pointer; }
.loginPage input[type="submit"]:hover { color: rgb(0, 110, 186); }
.loginPage .button { margin: 15px 0px 15px 200px; display: block; overflow: hidden; }
.loginPage .inlineList a { margin-left: 5px; }
.failtext { font-size: larger; color: rgb(255, 0, 0); }
@media not all {
}
@media not all {
}
@media screen and (max-width: 860px) {
}
.loginBox, .logoutBox { background: transparent url("bg_login_flyout.png") repeat-x scroll 0px 8px; bottom: 17px; display: block; height: 20px; padding: 11px 9px 9px; position: absolute; right: 0px; }
.loginBox a, .logoutBox { color: rgb(255, 255, 255); text-transform: uppercase; font-size: 0.923em; font-weight: bold; }
.loginBox a.icon_user { float: left; display: block; padding-top: 2px; }
.loginBox .icon_dropDown { padding-top: 3px; }
.loginBox .loginBoxWrapper, .logoutBox .logoutBoxWrapper { background-color: rgb(143, 147, 150); padding: 20px 10px 15px; position: absolute; top: 40px; right: 0px; z-index: 100; left: auto; }
.loginBox .loginBoxWrapper label, .logoutBox .logoutBoxWrapper label { color: rgb(255, 255, 255); font-size: 0.923em; display: inline-block; white-space: nowrap; padding-top: 2px; text-align: right; }
.loginBox .loginBoxWrapper td, .logoutBox .logoutBoxWrapper td { vertical-align: top; }
.loginBox .loginBoxWrapper ul.form, .logoutBox .logoutBoxWrapper ul.form { width: 21em; }
.loginBox .loginBoxWrapper ul.form li, .logoutBox .logoutBoxWrapper ul.form li { margin-bottom: 10px; }
.loginBox .loginBoxWrapper ul.form label, .logoutBox .logoutBoxWrapper ul.form label { padding-right: 1.3em; width: 6.5em; }
.loginBox .loginBoxWrapper ul.form input[type="text"], .loginBox .loginBoxWrapper ul.form input[type="password"], .logoutBox .logoutBoxWrapper ul.form input[type="text"], .loginBox .loginBoxWrapper ul.form input[type="password"] { float: right; width: 13em; }
.loginBox .loginBoxWrapper ul.form .button, .logoutBox .logoutBoxWrapper ul.form .button { float: right; }
.loginBox .loginBoxWrapper ul.form .noLabel, .logoutBox .logoutBoxWrapper ul.form .noLabel { padding-left: 7.5em; margin-left: 0px; }
.loginBox:hover .loginBoxWrapper, .logoutBox:hover .logoutBoxWrapper { left: auto; top: 40px; right: 0px; z-index: 100; }
.icon_user { background: transparent url("icon_user_white.png") no-repeat scroll 0px 5px; padding-left: 15px; }
.icon_dropDown { background: transparent url("icon_dropDown.png") no-repeat scroll right center; padding-right: 17px; display: block; }
.bannerWrapper { position: relative; }
/* ::::: [internal] ::::: */

.firebugResetStyles { z-index: 2147483646 ! important; top: 0px ! important; left: 0px ! important; display: block ! important; border: 0px none ! important; margin: 0px ! important; padding: 0px ! important; outline: 0px none ! important; min-width: 0px ! important; max-width: none ! important; min-height: 0px ! important; max-height: none ! important; position: fixed ! important; transform: rotate(0deg) ! important; transform-origin: 50% 50% 0px ! important; border-radius: 0px ! important; box-shadow: none ! important; background: transparent none repeat scroll 0% 0% ! important; pointer-events: none ! important; white-space: normal ! important; }
style.firebugResetStyles { display: none ! important; }
.firebugResetStyles::before, .firebugResetStyles::after { content: "" ! important; }
